<!-- Footer Content  -->
<footer class="mg-footer">
    <div class="mg-footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="mg-widget-title">@Front.Resources.Global.Footer_ContactUs</h2>
                        <address id="divAddress">
                        </address>

                        <p id="divphones">
                            @*@Model.ContactUs[0].PhoneNo1<br>
                                @Model.ContactUs[0].PhoneNo2*@
                        </p>

                        <p id="divmail">
                            @*<a href="mailto:#"> @Model.ContactUs[0].Mailbox</a>*@
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="mg-widget-title">@Front.Resources.Global.Footer_Twitter</h2>
                        <a class="twitter-timeline" data-height="300" data-theme="dark" href="https://twitter.com/mobark_hotel">Tweets by mobark_hotel</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="mg-widget-title">@Front.Resources.Global.Footer_Newsletter</h2>
                        <p>@Front.Resources.Global.Footer_NewsletterDesc</p>
                        <form id="myForm">
                            <p>
                                <input type="email" class="form-control" data-validation-error-msg="Pleae enter correct email format" placeholder="@Front.Resources.Global.Footer_NewsletterBoxEmail" id="Mail" data-validation="email">
                            </p>
                            <button class="btn btn-main" id="btnSave" onclick="sendnewsletter()" type="button">@Front.Resources.Global.Footer_NewsletterButton</button>
                            @*<div id="response">from submit script - shows on success</div>
                                <div id="loading"></div>*@
                            <div id="MSG" style="color: white"> </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="mg-widget-title">@Front.Resources.Global.Footer_SocialMedia</h2>
                        <ul class="mg-footer-social" id="divsocial"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>@Front.Resources.Global.Footer_CopyRights</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="~/Content/js/jquery.form-validator.min.js"></script>
<script>
    $("#myForm").validate({
        errorContainer: "#errorcontainer",
        submitHandler: function () {
            $("#response").css("display", "none");
            $("#loading").css("display", "none");

            $.ajax({
                type: 'post',
                url: 'http://gmgapi.azurewebsites.net/SystemParameters/Newsletter/Save',
                data: $("form").serialize(),
                complete: function (results) {
                    setTimeout(function () {
                        $("#loading").css("display", "none");
                        $("#response").css("display", "block");
                    }, 1500);
                }
            });
        }
    });
</script>


<script type="text/javascript">
    function validateEmail(email) {
        var pattern = new RegExp("[-0-9a-zA-Z.+_]+@@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}");
        return pattern.test(email);
    }


    $(document).ready(function () {

        $('#btnSave').attr('disabled', true);
        $('#Mail').keyup(function () {
            if ($(this).val().length != 0) {
                $('#btnSave').attr('disabled', false);
            }
            else {
                $('#btnSave').attr('disabled', true);
            }
        })
    });


    function sendnewsletter() {
        var newsletter = {
            Mail: $("#Mail").val()
        }

        if (!validateEmail(newsletter.Mail)) {
            $("#MSG").text("@Front.Resources.Global.Footer_NewsletterError");
            $("#MSG").css("color", "red");

        } else {
            $('#btnSave').attr('disabled', true);
            $('#MSG').html('@Front.Resources.Global.Footer_NewsletterSending');
            var apiUrl = document.querySelector('#HServicesURL').value;
            $.ajax({
                url: apiUrl + "/SystemParameters/Newsletter/Save",
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.OperationStatus === "Succeded") {
                        $('#MSG').html("@Front.Resources.Global.Footer_NewsletterSubmitMsg");
                        $('#btnSave').attr('disabled', false);
                    } else {
                        $('#MSG').html("@Front.Resources.Global.Footer_NewsletterAlreadyExist");
                    }

                },
                data: newsletter
            });
        }
        //Validate Email Input

    }


</script>