@using GMG_Portal.API.Models.SystemParameters
@model List<GMG_Portal.API.Models.SystemParameters.Career>
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>All Careers</h2>
                <p>Hospitality and Administartion.</p>
            </div>
        </div>
    </div>
</div>

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
        alert("@TempData["alertMessage"]");
    </script>
}
<div class="mg-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-avl-room">
                    @foreach (Career careerObj in Model)

                    {
                        <div class="mg-tab-left-nav">

                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active"><a href="#@careerObj.Id-1" aria-controls="home3" role="tab" data-toggle="tab"><i class="fa fa-home"></i> Postion Title</a></li>
                                <li role="presentation"><a href="#@careerObj.Id-8" aria-controls="settings3" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i>  Requirements</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="@careerObj.Id-1">
                                    <h3><p>@careerObj.DisplayValue </p></h3>
                                    <h4>Description :</h4>
                                    <p>@careerObj.DisplayValueDesc </p>
                                    <h4>Experience :</h4>
                                    <p>@careerObj.Experience </p>
                                    <h4>Career Level :</h4>
                                    <p>@careerObj.CareerLevel </p>
                                    <h4>Job Type :</h4>
                                    <p>@careerObj.JobType </p>
                                    <h4>Education Level :</h4>
                                    <p>@careerObj.EducationLevel </p>
                                    <h4>Vacancies :</h4>
                                    <p>@careerObj.Vacancies </p>
                                    <a href="/Career/Details/@careerObj.Id" style="font-size: 16px;
                                      padding: 10px 35px;
                                      color: #FFF;
                                      background-color: #e7b315;
                                      border-color: #e7b315;">Apply to this Job</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="@careerObj.Id-2">
                                    <p>@careerObj.DisplayValueDesc </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="@careerObj.Id-3">
                                    <p>@careerObj.Experience </p>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="@careerObj.Id-4">
                                    <p>@careerObj.CareerLevel </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="@careerObj.Id-5">
                                    <p>@careerObj.JobType </p>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="@careerObj.Id-6">
                                    <p>@careerObj.EducationLevel </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="@careerObj.Id-7">
                                    <p>@careerObj.Vacancies </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="@careerObj.Id-8">
                                    <p>@careerObj.DisplayValueRequirements </p>
                                    <a href="/Career/Details/@careerObj.Id" style="font-size: 16px;
                                                                                                     padding: 10px 35px;
                                                                                                     color: #FFF;
                                                                                                     background-color: #e7b315;
                                                                                                     border-color: #e7b315;">Apply to this Job</a>
                                </div>
                            </div>

                        </div>

                    }
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
