
@{
    ViewBag.Title = "Index";
}
@using GMG_Portal.Content;
@using GMG_Portal.Content.Admin
@using GMG_Portal.Content.Admin.SystemParameters
<script type="text/javascript" src="~/Scripts/app/services/News.js"></script>
<script type="text/javascript" src="~/Scripts/app/pages/News/news.js"></script>
<input type="hidden" id="HEnglishNameUnique" value="@News.EnglishNameUnique" />
<input type="hidden" id="HUpdateSuccessMessage" value="@News.UpdateSuccessMessage" />
<input type="hidden" id="HSaveSuccessMessage" value="@News.SaveSuccessMessage" />
<input type="hidden" id="HDeleteSuccessMessage" value="@News.DeleteSuccessMessage" />
<input type="hidden" id="HArabicNameUnique" value="@News.TxtTitleUniqueErrorMessage" />
<input type="hidden" id="HCannotDeleted" value="@News.CannotDeleted" />
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>
<div ng-controller="NewsController">

    <div ba-panel>
        <table class="table table-hover table-condensed" st-table="TableData" st-safe-src="news">
            <thead>
            <tr class="toolbar">
                <th colspan="2">
                    <div class="input-group">
                        <span class="input-group-addon addon-left"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input st-search="" class="form-control" placeholder="@News.txtSearchLbl" type="text" />
                    </div>
                </th>
                <th colspan="1"></th>
                <th>
                    <div class="input-group">
                        <button class="btn btn-primary btn-with-icon" ng-click="open(null)"><i class="fa fa-plus" aria-hidden="true"></i>@News.BtnAdd</button>
                    </div>
                </th>
            </tr>

            <tr class="sortable">
                <th>#</th>
                <th st-sort="Image">@News.Image</th>
                <th st-sort="Title">@News.Title</th>
                <th st-sort="Desc">@News.Desc</th>
                <th st-sort="Rate">@News.Rate</th>
                <th>Actions</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="news in TableData">
                <td ng-class="{'red-text': news.IsDeleted == true}">{{$index+1}}</td>
                <td ng-class="{'red-text': news.IsDeleted == true}"><img ng-click="openImage(news)" width="70px" height="70px" src="http://localhost:19056/Uploads/{{news.Image}}" /></td>
                <td ng-class="{'red-text': news.IsDeleted == true}">{{news.DisplayValue}}</td>
                <td ng-class="{'red-text': news.IsDeleted == true}">{{news.DisplayValueDesc | limitTo:letterLimit}} </td>
                <td ng-class="{'red-text': news.IsDeleted == true}">{{news.Rating}}</td>
                <td>
                    <div class="buttons" ng-show="!news.IsDeleted">
                        <button class="btn btn-primary editable-table-button btn-xs btn-with-icon" ng-click="open(news)"><i class="fa fa-pencil" aria-hidden="true"></i>@News.TableBtnEdit</button>
                        <button class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-confirm="Confirm Delete ?" ng-click="Delete(news)"><i class="fa fa-trash-o" aria-hidden="true"></i>@News.TableBtnDelete</button>
                    </div>
                    <div class="buttons restore-button" ng-show="news.IsDeleted">
                        <button class="center-block btn btn-default  restore-button btn-xs btn-with-icon" ng-click="Restore(news)"><i class="fa fa-undo" aria-hidden="true"></i>Restore</button>
                    </div>
                </td>
            </tr>
            <tr ng-show="TableData.length==0">
                <td colspan="4">
                    @Shared.GridNoData
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="modal fade" id="ModelImage" role="dialog">
        <div class="modal-dialog">
            <img style="width: 100%;
                                       height: 65%;" src="http://localhost:19056/Uploads/{{news.Image}}" />
          
        </div>
    </div>

    @*<form name="FrmAddUpdate" novalidate ng-submit="save()" autocomplete="off">*@
    <form name="FrmAddUpdate" novalidate autocomplete="off">

        <div class="modal fade" id="ModelAddUpdate" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{action |uppercase}} @News.ModalTitle</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="TxtTitle">@News.Title</label><span class="red-text"> *</span>
                            <input type="text" ng-model="news.DisplayValue"   class="form-control" Title="TxtTitle"
                                   placeholder="@News.Title" required ng-pattern="/@Regex.NameAr/">

                            <div class="red-text" ng-messages="FrmAddUpdate.TxtTitle.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                <span class="red-text" ng-message="required">@News.TxtTitleRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@News.TxtTitlePatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@News.TxtTitleUniqueErrorMessage</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TxtDesc">@News.Desc</label><span class="red-text"> *</span>
                            <textarea ng-model="news.DisplayValueDesc"   class="form-control" name="TxtDesc"
                                      placeholder="Text" required ng-pattern="/@Regex.NameEn/"></textarea>
                            <div class="red-text" ng-messages="FrmAddUpdate.TxtDesc.$error" ng-show="FrmAddUpdate.TxtDesc.$touched">
                                <span class="red-text" ng-message="required">@News.TxtDescRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@News.TxtDescPatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@News.TxtDescUniqueErrorMessage</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="TxtDesc">@News.Desc</label><span class="red-text"> *</span>
                            <select name="LstCategory" class="form-control" ng-options="Category as Category.DisplayValue  for Category in Categorys"
                                    ng-model="SelectedCategory" ng-change="selectedCategorysChanged(SelectedCategory)" required>
                                <option value=''> choose</option>
                            </select>
                            <div class="red-text" ng-messages="FrmAddUpdate.LstCategory.$error" ng-show="FrmAddUpdate.LstCategory.$touched">
                                <span class="error" ng-message="required">required</span>
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <label for="TxtRate">@News.Image</label><span class="red-text"> *</span>
                          
                            <div class="fileinput fileinput-new" data-provides="fileinput"> 

                                <div class="col-lg-6 col-sm-6 col-12">

                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse...<input type="file" my-directory="getFiles(file)" ng-disabled="uploading" />
                                            </span>

                                        </span>
                                        <input type="text" ng-model="countFiles" required class="form-control" readonly>
                                    </div>
                                    @*<input type="button" class="btn btn-default  btn-primary" ng-click="uploadFiles()" value="Upload" ng-disabled="uploading || countFiles===''" />*@

                                    <img style="width: 100px; height: 100px" src="http://localhost:19056/Uploads/{{news.Image}}" ng-show="news.Image" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="uploadFiles()" ng-disabled="FrmAddUpdate.$invalid"><i class="ion-android-checkmark-circle"></i>@News.btnSaveLbl</button>
                    </div>
                </div>

            </div>
        </div>
    </form>


</div>






