@model GMG_Portal.API.Models.SystemParameters.Admin.Admin

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobarak Login</title>

    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon-96x96.png">

    @*<script src="~/Scripts/lib/angular.js"></script>
        <script src="~/Scripts/app/Login.js"></script>*@

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/auth-a200a050c1.css" rel="stylesheet" />
    <link href="~/Content/css/vendor-2cae343ef1.css" rel="stylesheet" />
</head>

@using GMG_Portal.Content;
<body>
    <main class="auth-main">
        <div class="auth-block">
            <h1>Sign in to Mobarak Admin</h1>
            @*<a href="reg.html" class="auth-link">New to Mobarak Admin? Sign up!</a>*@

            @using (Html.BeginForm("Index", "Login", null, FormMethod.Post, new { enctype = "multipart/form-data" }))

            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="mg-contact-form-input">
                    <label for="subject">User Name</label>

                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                </div>
                <div class="mg-contact-form-input">
                    <label for="subject">Password</label>

                    @Html.EditorFor(model => model.PassWd, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.PassWd, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn-auth">Sign in</button>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")

                    </div>
                </div>
            }


        </div>
    </main>
    @*<div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Index", "Login", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PassWd, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.PassWd, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PassWd, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                     
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                s
            </section>
        </div>
    </div>*@
</body>

</html>