@using Front.Helpers
@model GMG_Portal.API.Models.Hotels.Reservation.Reservation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Front.Resources.Global.Booking_PageTitle </h2>
                <p></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //   var currentLang = document.querySelector('#HCurrentLang').value;
        //  document.getElementById("HotelMore").style.display = "none";

        $('#HotelName').change(function () {
            $('#HotelNameVal').val($('#HotelName').val());
        });

        var apiUrl = document.querySelector('#HServicesURL').value;
        $.ajax({
            url: apiUrl + "/SystemParameters/Hotels/GetAll?langId=@Common.CurrentLang",
            type: "Get",
            success: function (data) {
                var more = "View More";
                var list = [];
                if (data.length === 0) {
                    //   document.getElementById("Hotelname").style.display = "none";
                }
                //if (data.length <= 10) {
                //    document.getElementById("HotelMore").style.display = "block";
                //}
                for (var i = 0; i < data.length; i++) {
                    //$(
                    //    "<option value='" + data[i].DisplayValue + "'>" + data[i].DisplayValue + "</option>"

                    //).appendTo("#HotelName");
                    //  var result = $.localStorage('hotelId', data[i].Id);

                    list.push(data[i].Id);
                }

                // $.localStorage('listlist', list);

                //  var value = $.localStorage('hotelList');
                //for (var i = 0; i < value.length; i++) {
                //  //  console.log(value[i].DisplayValue);
                //  //  $.localStorage('hotelListRead', value[i].DisplayValue);
                //}
                // unblock when ajax activity stops
                $(document).ajaxStop($.unblockUI);
            },
            error: function (msg) {
                // alert("hotel error");
            }

        });

    });
</script>

@using (Html.BeginForm("Index", "BookingLite", null, FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("CheckIn", Model.CheckIn);
    @Html.Hidden("CheckOut", Model.CheckOut);
    @Html.Hidden("Adult", Model.Adult);
    @Html.Hidden("Child", Model.Child);
    @Html.Hidden("HotelNameVal", Model.HotelName);

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mg-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-booking-form">

                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#personal-info" aria-controls="personal-info" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">1</span><span class="mg-bs-bar"></span>@Front.Resources.Global.Booking_Personalinfo</a>
                            </li>

                            <li role="presentation">
                                <a aria-controls="thank-you" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">2</span>@Front.Resources.Global.Booking_ThankYou</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane fade in active" id="personal-info">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="mg-book-form-personal">
                                            <h2 class="mg-sec-left-title">@Front.Resources.Global.Booking_Personalinfo</h2>
                                            <div class="row pb40">
                                                <div class="col-md-6">
                                                    <div class="mg-book-form-input">
                                                        <label>@Front.Resources.Global.Booking_FirstName</label>
                                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="mg-book-form-input">
                                                        <label>@Front.Resources.Global.Booking_Email</label>
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="mg-book-form-input">
                                                        <label>@Front.Resources.Global.Booking_HotelName</label>
                                                        <select class="form-control" id="HotelName" name="HotelName"></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mg-book-form-input">
                                                        <label>@Front.Resources.Global.Booking_LastName</label>
                                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="mg-book-form-input">
                                                        <label>@Front.Resources.Global.Booking_Mobile</label>
                                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="clearfix mg-terms-input">
                                                    <div class="pull-right">
                                                    </div>
                                                </div>*@

                                            @*<input type="submit" value="Create" class="btn btn-default" />*@

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" id="btnSubmit" class="btn btn-dark-main pull-right" value="@Front.Resources.Global.Booking_Create">
                                                    @*<input type="submit" value="Create" class="btn btn-default" />*@
                                                </div>
                                            </div>
                                            @*<input type="submit" value="Reserve" class="btn btn-dark-main btn-next-tab pull-right" />*@
                                            @*<a href="#payment" class="btn btn-dark-main btn-next-tab pull-right">Next</a>*@
                                            @*<a href="#select-room" class="btn btn-default btn-prev-tab pull-left">Back</a>*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mg-cart-container">
                                            <aside class="mg-widget mt50" id="mg-room-cart">
                                                <h2 class="mg-widget-title">@Front.Resources.Global.Booking_Details</h2>
                                                <div class="mg-widget-cart">
                                                    <div class="mg-cart-room">
                                                    </div>
                                                    <div class="mg-widget-cart-row">
                                                        <strong>@Front.Resources.Global.Booking_CheckIn:</strong>
                                                        <span>@Model.CheckIn</span>
                                                    </div>
                                                    <div class="mg-widget-cart-row">
                                                        <strong>@Front.Resources.Global.Booking_Checkout:</strong>
                                                        <span>@Model.CheckOut</span>
                                                    </div>
                                                    <div class="mg-widget-cart-row">
                                                        <strong>@Front.Resources.Global.Booking_Adults:</strong>
                                                        <span>@Model.Adult</span>
                                                    </div>
                                                    <div class="mg-widget-cart-row">
                                                        <strong>@Front.Resources.Global.Booking_Child:</strong>
                                                        <span>@Model.Child</span>
                                                    </div>
                                                    <div class="mg-cart-total">
                                                    </div>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}