@using System.Globalization
@using System.Threading
@using Front.Helpers
@using GMG_Portal.API.Models.SystemParameters
@model  AboutModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Front.Resources.Global.About_Title </h2>
                <p>@Front.Resources.Global.About_Description </p>
            </div>
        </div>
    </div>
</div>
<div class="mg-about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mg-about-us-txt">
                    <div class="mg-sec-title">
                        <h2>@Model.AboutTitleDictionary[@Common.CurrentLang]</h2>
                    </div>
                    <p>@Html.PreserveNewLines(@Model.AboutDescDictionary[@Common.CurrentLang]) </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-responsive">
                    <div style="position:relative;height:0;padding-bottom:70%"><iframe src="https://www.youtube.com/embed/@Model.Url?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="500" height="350" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mg-about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mg-about-us-txt">
                    <div class="mg-sec-title">
                        <h2>@Model.VisionTitleDictionary[Common.CurrentLang]</h2>
                        <p></p>
                    </div>
                    <p>@Model.VisionDescDictionary[Common.CurrentLang]</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mg-about-us-txt">
                    <div class="mg-sec-title">
                        <h2>@Model.MissionTitleDictionary[Common.CurrentLang] </h2>
                        <p></p>
                    </div>
                    <p>@Model.MissionDescDictionary[Common.CurrentLang] </p>
                </div>
            </div>
        </div>
    </div>
</div>

@*Our Values*@

<div class="mg-about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>@Model.CoreValueTitleDictionary[@Common.CurrentLang]</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @if (@Common.CurrentLang == "ar")
            {
                    <div class="mg-about-us-txt">
                        <p>@Html.PreserveNewLines(@Model.CoreValueDescDictionary[@Common.CurrentLang]) </p>
                    </div>
                }
                else
                {
                    <div class="mg-about-us-txt" style="text-align: left;">
                        <p>@Html.PreserveNewLines(@Model.CoreValueDescDictionary[@Common.CurrentLang]) </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>