@using GMG_Portal.API.Models.SystemParameters
@model  List<AboutAll>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Mobark International Company</h2>
                <p>for Trading & Real Estate Investment Ltd</p>
            </div>
        </div>
    </div>
</div>
<div class="mg-about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mg-about-us-txt">
                    <div class="mg-sec-title">
                        <h2>About Mubarak</h2>
                   
                    </div>
                    <p>@Model[0].AboutDesc </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-responsive">
                    <div style="position:relative;height:0;padding-bottom:70%"><iframe src="https://www.youtube.com/embed/@Model[0].Url?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="500" height="350" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mg-about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mg-about-us-txt">
                    <div class="mg-sec-title">
                        <h2>@Model[0].VisionTitle</h2>
                        <p></p>
                    </div>
                    <p>@Model[0].VisionDesc</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mg-about-us-txt">
                    <div class="mg-sec-title">
                        <h2>@Model[0].MissionTitle </h2>
                        <p></p>
                    </div>
                    <p>@Model[0].MissionDesc </p>
                </div>
            </div>
        </div>
    </div>
</div>





@*Our Values*@ 

<div class="mg-about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>Our Core Values</h2>
                </div>
                <hr />
            </div>
            <div class="col-sm-4">
                <div class="mg-feature">
                    <div class="mg-feature-icon-title">
                 
                        <h3>Room service</h3>
                    </div>
                    <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mg-feature">
                    <div class="mg-feature-icon-title">
                   
                        <h3>Wi-fi service</h3>
                    </div>
                    <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mg-feature">
                    <div class="mg-feature-icon-title">
                  
                        <h3>Free Parking</h3>
                    </div>
                    <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

	
