@*@model  Front.Models.HomeModels*@
@model GMG_Portal.API.Models.General.HomeModels

<div class="mg-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>@Front.Resources.Global.Home_HotelFacilitiesTitle</h2>
                    <p>@Front.Resources.Global.Home_HotelFacilitiesDesc</p>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fp-ht-receptionist"></i>
                                <h3>@Model.Features[0].DisplayValue</h3>
                            </div>
                            <p>@Model.Features[0].DisplayValueDesc </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-cogs"></i>
                                <h3>@Model.Features[1].DisplayValue</h3>
                            </div>
                            <p>@Model.Features[1].DisplayValueDesc </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-car"></i>
                                <h3>@Model.Features[2].DisplayValue</h3>
                            </div>
                            <p>@Model.Features[2].DisplayValueDesc</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-phone"></i>
                                <h3>@Model.Features[3].DisplayValue</h3>
                            </div>
                            <p>@Model.Features[3].DisplayValueDesc</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-coffee"></i>
                                <h3>@Model.Features[4].DisplayValue</h3>
                            </div>
                            <p>@Model.Features[4].DisplayValueDesc</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-cogs"></i>
                                <h3>@Model.Features[5].DisplayValue</h3>
                            </div>
                            <p>@Model.Features[5].DisplayValueDesc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>