@using AutoMapper.XpressionMapper
@model GMG_Portal.API.Models.General.HomeModels

@*@model  Front.Models.HomeModels*@

@{
    ViewBag.Title = "Home Page";
}

 

<!-- Our Hotels Partial -->

@Html.Partial("Slider")  


@if (null != TempData["alertNoNews"])
{
    <script type="text/javascript">
        alert("@TempData["alertNoNews"]");

    </script>
}

@if (null != TempData["alertNoOffers"])
{
    <script type="text/javascript">
        alert("@TempData["alertNoOffers"]");

    </script>
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
 
<script type="text/javascript">

    var e = document.getElementById("addressSearch");
    e.removeAttribute("disabled");
   


    $(document).ready(function () {

     


      
        //// Fix Jquery DatePicker originally in the Template
        $('#input-group.mg-check-in').datepicker().on('changeDate', function (ev) {
            $('#checkin').change();
        });
      
        $('#input-group.mg-check-out').datepicker().on('changeDate', function (ev) {
            $('#checkout').change();
        });


        $('#checkin').change(function () {
            $('#checkindate').val($('#checkin').val());
           
        });


        $('#checkout').change(function () {        
            $('#checkoutdate').val($('#checkout').val());
        });
        //// Fix Jquery DatePicker originally in the Template   

    

      

    });
  
</script>

<script type="text/javascript">
    //$(document).ready(function () {
    //    alert($('#child').val());
    //        var e = document.getElementById("addressSearch");
    //        e.removeAttribute("disabled");


    //        $("#child").change(function () {
    //        alert("Handler for .change() called.");
    //    });


    function jsFunction() {
       

        //if ($('#checkindate').val() != '') {
        //    alert("Please Select Check-in Date");
        //    return false;
        //}

        //if ($('#checkoutdate').val() != '') {
        //    alert("Please Select Check-out Date");
        //    return false;
        //}



        //if ($('#child').val() != '') {
        //    alert("Please Select Child");
        //    return false;
        //}

        //if ($('#adult').val() != '') {
        //    alert("Please Select Adult");
        //    return false;
        //}





        location.href = '@Url.Action("Index", "BookingLite")?checkin=' +
            $('#checkindate').val() +
            '&checkout=' +
            $('#checkoutdate').val() +
            '&adult=' +
            $('#adult').val() +
            '&child=' +
            $('#child').val();



        
        }




</script>


<div class="mg-book-now">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="mg-bn-title"> @Front.Resources.Global.Home_SearchRoomsTitle  <span class="mg-bn-big">@Front.Resources.Global.Home_SearchRoomsDesc</span></h2>
            </div>
            <div class="col-md-9">
                <div class="mg-bn-forms">
                    <form>
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="input-group date mg-check-in">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input type="text" class="form-control" id="checkin" placeholder="@Front.Resources.Global.Home_SearchRoomsCheckin">
                                    <input type="hidden" id="checkindate"/>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="input-group date mg-check-out">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input type="text" class="form-control" id="checkout" placeholder="@Front.Resources.Global.Home_SearchRoomsCheckout">
                                    <input type="hidden" id="checkoutdate"/>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <select class="cs-select cs-skin-elastic" id="adult">
                                            <option value="" disabled selected>@Front.Resources.Global.Home_SearchRoomsAdult</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="cs-select cs-skin-elastic" id="child" name="child">
                                            <option value="" disabled selected>@Front.Resources.Global.Home_SearchRoomsChild</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-main btn-block" type="button" id="addressSearch"
                                        onclick="jsFunction()">@Front.Resources.Global.Home_SearchRoomsButton</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Our Hotels Partial -->
@Html.Partial("OurHotels")



<!-- About us Partial  -->
@Html.Partial("AboutHome")


<!-- Hotel Facilities Partial  -->
@Html.Partial("HotelFacilities")


<!-- Owners Introduction Partial  -->
@Html.Partial("OwnersHome")


<!-- News Partial -->
@Html.Partial("NewsHome")

