@*//@using GMG_Portal.API.Models.Hotels.Hotel*@
@model GMG_Portal.API.Models.General.HomeModels

@*<div class="mg-best-rooms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-sec-title">
                        <h2>Our Hotelss</h2>
                        <p>Luxury Hotelss</p>
                    </div>
                    <div class="row">

                        @{



                        }



                        @if (Model.Hotels != null)
                        {
                            foreach (var hotel in Model.Hotels.Take(3))
                            {
                            <div class="col-sm-@hotel.Bootstrap">
                                <figure class="mg-room">
                                    <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/@hotel.Image" alt="img11" class="img-responsive">
                                    <figcaption>
                                        <h2>@hotel.DisplayValue</h2>
                                        <div class="mg-room-rating"><i class="fa fa-star"></i> @hotel.Rate</div>
                                        <div class="mg-room-price">@hotel.PriceStart /Night</div>
                                        <p>@hotel.DisplayValueDesc</p>
                                        <a href="/Hotel/Details/@hotel.Id" class="btn btn-link ">View Details <i class="fa fa-angle-double-right"></i></a>
                                    </figcaption>
                                </figure>
                            </div>
                        }


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@if (Model.Hotels != null)
{

    <div class="mg-best-rooms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-sec-title">
                        <h2>@Front.Resources.Global.Home_OurHotelsTitle</h2>
                        <p>@Front.Resources.Global.Home_OurHotelsDesc</p>

                        @*<div id="domMessage" style="display:none;">
                                <h1>We are processing your request.  Please be patient.</h1>
                            </div>
                            <div id='ajax_loader' style="position: fixed; left: 50%; top: 50%; display: none;">
                                <div class="preloader" id="divLoader"></div>


                            </div>
                            <input id="pageDemo2" class="demo" type="submit" value="Custom ">
                            <input id="pageDemo4" class="demo" type="submit" value="Custom Message">*@
                    </div>
                    <div class="row">

                        @foreach (var hotel in Model.Hotels.Take(3))
                        {
                            <div class="col-sm-4">
                                <figure class="mg-room">
                                    <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/Hotels/@hotel.Image" alt="img11" class="img-responsive" style="width: 103%;height: 211px;">
                                    <figcaption>
                                        <h2>@hotel.DisplayValue.ToString().Substring(0, 15)</h2>
                                        <div class="mg-room-rating">
                                            <i class="fa fa-star"></i> @hotel.Rate
                                        </div>
                                        <div class="mg-room-price">
                                            $@hotel.PriceStart<sup>/Night</sup>
                                        </div>
                                        @if (@hotel.DisplayValueDesc.Length >= 81)
                                        {
                                            <p> @hotel.DisplayValueDesc.ToString().Substring(0, 81)</p>

                                        }
                                        else
                                        {
                                            <p>  @hotel.DisplayValueDesc</p>
                                        }
                                        <a href="/Hotel/Details/@hotel.Id" class="btn btn-link ">View Details <i class="fa fa-angle-double-right"></i></a>
                                    </figcaption>
                                </figure>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>  }