@*@model  Front.Models.HomeModels*@
@using Front.Helpers
@using GMG_Portal.API.Models.SystemParameters
@model GMG_Portal.API.Models.General.HomeModels
@if (Model.Owners != null)
{
    <div class="mg-about-testimonial parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-sec-title">
                        <h2>@Front.Resources.Global.Home_OwnersTitle</h2>
                        <p>@Front.Resources.Global.Home_OwnersDesc</p>
                    </div>
                    <div class="mg-testimonial-slider" id="mg-testimonial-slider">

                        @foreach (OwnerModel t in Model.Owners)
                        {
                            <blockquote>

                                @if (t.OwnerNameDictionary[Common.CurrentLang].Length >= 20)
                                {
                                    <p>@t.OwnerNameDictionary[Common.CurrentLang].Substring(0, 20)</p>
                                }
                                else
                                {
                                    <p>@t.OwnerNameDictionary[Common.CurrentLang]</p>

                                }
                                @if (t.OwnerPostionDictionary[Common.CurrentLang].Length >= 20)
                                {
                                    <p>@t.OwnerPostionDictionary[Common.CurrentLang].Substring(0, 20)</p>
                                }
                                else
                                {
                                    <p>@t.OwnerPostionDictionary[Common.CurrentLang]</p>
                                }
                                @if (t.OwnerDescDictionary[Common.CurrentLang].Length >= 200)
                                {
                                    <footer>
                                        <p>@t.OwnerDescDictionary[Common.CurrentLang].Substring(0, 200)</p></footer>
                                }
                                else
                                {
                                    <footer>
                                        <p>@t.OwnerDescDictionary[Common.CurrentLang]</p></footer>
                                }
                            </blockquote>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}