@*@model  Front.Models.HomeModels*@
@model GMG_Portal.API.Models.General.HomeModels

<div class="mg-about-testimonial parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>@Front.Resources.Global.Home_OwnersTitle</h2>
                    <p>@Front.Resources.Global.Home_OwnersDesc</p>
                </div>
                <div class="mg-testimonial-slider" id="mg-testimonial-slider">
                @{ 
                    for (var i = 0; i < Model.Owners.Count; i++)
                    {
                     <blockquote>
                         <p>@Model.Owners[i].DisplayValueName</p>
                         <p>@Model.Owners[i].DisplayValuePosition</p>
                        <footer><p>@Model.Owners[i].DisplayValueDesc</p></footer>
                    </blockquote>
                    }
                } 
                </div>
            </div>
        </div>
    </div>
</div>