@*@model  Front.Models.HomeModels*@
@using Front.Helpers
@model GMG_Portal.API.Models.General.HomeModels
@if (Model.HomeSliders.Count != 0 && Model.HomeSliders != null)
{
    <div id="mega-slider" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mega-slider" data-slide-to="0" class="active"></li>
            @for (var j = 1; j < Model.HomeSliders.Count; j++)
            {
                <li data-target="#mega-slider" data-slide-to="@j"></li>
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active beactive">
                <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/@Model.HomeSliders[0].Image" class="img-responsive" alt="...">
                <div class="carousel-caption">
                    @if (@Model.HomeSliders[0].Rating == 1)
                    {<img src="/Content/images/stars1.png" alt="">}
                    @if (@Model.HomeSliders[0].Rating == 2)
                    {<img src="/Content/images/stars2.png" alt="">}
                    @if (@Model.HomeSliders[0].Rating == 3)
                    {<img src="/Content/images/stars3.png" alt="">}
                    @if (@Model.HomeSliders[0].Rating == 4)
                    {<img src="/Content/images/stars4.png" alt="">}
                    @if (@Model.HomeSliders[0].Rating == 5)
                    {<img src="/Content/images/stars.png" alt="">}
                    <h2>  @Model.HomeSliders[0].TitleDictionary[Common.CurrentLang]</h2>
                    <p>@Model.HomeSliders[0].DescDictionary[Common.CurrentLang]</p>
                </div>
            </div>
            @{  <!-- Indicators -->

                for (var i = 1; i < Model.HomeSliders.Count; i++)
                {
                    <div class="item">
                        <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/@Model.HomeSliders[i].Image" class="img-responsive" alt="...">
                        <div class="carousel-caption">
                            @if (@Model.HomeSliders[i].Rating == 1)
                            {<img src="/Content/images/stars1.png" alt="">}
                            @if (@Model.HomeSliders[i].Rating == 2)
                            {<img src="/Content/images/stars2.png" alt="">}
                            @if (@Model.HomeSliders[i].Rating == 3)
                            {<img src="/Content/images/stars3.png" alt="">}
                            @if (@Model.HomeSliders[i].Rating == 4)
                            {<img src="/Content/images/stars4.png" alt="">}
                            @if (@Model.HomeSliders[i].Rating == 5)
                            {<img src="/Content/images/stars.png" alt="">}
                        
                            @if (Model.HomeSliders[i].TitleDictionary[Common.CurrentLang].Length >= 17)
                            {
                                <h2>@Model.HomeSliders[i].TitleDictionary[Common.CurrentLang].ToString().Substring(0, 17)</h2>
                            }
                            else
                            {
                                <h2>@Model.HomeSliders[i].TitleDictionary[Common.CurrentLang]</h2>

                            }
                            @if (Model.HomeSliders[i].DescDictionary[Common.CurrentLang].Length >= 40)
                            {
                                <h2>@Model.HomeSliders[i].DescDictionary[Common.CurrentLang].ToString().Substring(0, 40)</h2>
                            }
                            else
                            {
                                <p>@Model.HomeSliders[i].DescDictionary[Common.CurrentLang]</p>


                            }
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev">
        </a>
        <a class="right carousel-control" href="#mega-slider" role="button" data-slide="next">
        </a>
    </div>
                }
                else
                {
                    <div style="margin-bottom: 150px">
                    </div>

                }