@*@model  Front.Models.HomeModels*@
@model GMG_Portal.API.Models.General.HomeModels
@if (Model.HomeSliders.Count != 0 && Model.HomeSliders != null)
{
    <div id="mega-slider" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mega-slider" data-slide-to="@Model.HomeSliders[0].Id" class="active"></li>
            @for (var j = 1; j < Model.HomeSliders.Count; j++)
            {
                <li data-target="#mega-slider" data-slide-to="@Model.HomeSliders[j].Id"></li>
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active beactive">
                <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/@Model.HomeSliders[0].Image" class="img-responsive" alt="...">
                <div class="carousel-caption">
                    <h2>@Model.HomeSliders[0].DisplayValue</h2>
                    <p>@Model.HomeSliders[0].DisplayValueDesc</p>
                </div>
            </div>
            @{  <!-- Indicators -->

                for (var i = 1; i < Model.HomeSliders.Count; i++)
                {
                    <div class="item">
                        <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/@Model.HomeSliders[i].Image" class="img-responsive" alt="...">
                        <div class="carousel-caption">
                            <h2>@Model.HomeSliders[i].DisplayValue</h2>
                            <p>@Model.HomeSliders[i].DisplayValueDesc</p>
                        </div>
                    </div>
                }
            }


        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev">
        </a>
        <a class="right carousel-control" href="#mega-slider" role="button" data-slide="next">
        </a>
    </div>
                }
                else
                {
                    <div style="margin-bottom: 150px">

                    </div>

                }