@using Front.Helpers
@using GMG_Portal.API.Models.SystemParameters
@model GMG_Portal.API.Models.SystemParameters.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>All News</h2>
                <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="HCurrentNewsId" value="@Model.Id" />

<div class="mg-blog-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <main>

                    <article class="mg-post">
                        <header>
                            @if (Model.Image != null)
                            {
                                <img style="width: 650px; height: 350px;" src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/News/@Model.Image" alt="" class="img-responsive">
                            }
                            <h2 class="mg-post-title">@Model.DisplayValue</h2>
                            <div class="mg-post-meta">
                                <span>@Model.CreationTime.Value.ToString("D")</span>
                                <span>by  @Model.CreatorUserName </span>
                                <span><a href="/News/Index/@Model.CategoryId">@Model.CategoryName</a> </span>
                            </div>
                        </header>
                        <div>
                            <p>@Model.DisplayValueDesc.</p>
                        </div>

                    </article>
                </main>

                @*<div class="clearfix mg-post-nav">
                        <div class="pull-left">
                            <a href="#"><i class="fa fa-angle-left"></i> Necesse directam consecutionem</a>
                        </div>
                        <div class="pull-right">
                            <a href="#">Disciplinae principes tertium parentes <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>*@


            </div>
            <div class="col-md-4">
                <div class="mg-widget-area">
                    @*<aside class="mg-widget">
                        <input id="txtSearch" type="text" placeholder="Search..." class="form-control" onkeydown="search(this)">

                    </aside>*@
                    <aside class="mg-widget">
                        <h2 class="mg-widget-title">Recent News</h2>
                        <ul class="mg-recnt-posts" id="ulAllNews">
                            @*@{
                                    var Users = (List<News>)ViewBag.NewsList;

                                    for (int i = 0; i < Users.Count; i++)
                                    {
                                        <li>
                                            <div class="mg-recnt-post">
                                                <div class="mg-rp-date">
                                                    <div class="mg-rp-date">@ViewBag.NewsList[i].CreationTime.Value.Day <div class="mg-rp-month">@ViewBag.NewsList[i].CreationTime.Value.ToString("MMM")</div></div>
                                                </div>
                                                <h3>
                                                    <a href="/News/Details/@ViewBag.NewsList[i].Id">@ViewBag.NewsList[i].DisplayValue</a>
                                                </h3>
                                                <p>@ViewBag.NewsList[i].DisplayValueDesc.ToString().Substring(0, 30)</p>
                                            </div>
                                        </li>
                                    }
                                }*@
                        </ul>
                    </aside>
                    <aside class="mg-widget">
                        <h2 class="mg-widget-title">Category</h2>
                        <ul id="ulCategory"></ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    function search(ele) {
        if (event.keyCode == 13) { 
            $.ajax({
                url: '@Url.Action("Search", "News")?keyword=' + ele.value + '&langId=@Common.CurrentLang' ,
                //url: "http://localhost:2798/SystemParameters/News/SearchNews/",
                type: "Post",
                 data: JSON.stringify([ele.value]), //{ Name: name, Address: address, DOB: dob },
               // data: { 'keyWord': ele.value }, //{ Name: name, Address: address, DOB: dob },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                   // alert('Created Successfully');
                   // window.location.href = "../Index";
                },
                error: function () { alert('error'); }
            });

        }
    }
    $(document).ready(function () {

        var apiUrl = document.querySelector('#HServicesURL').value;
        var newsId = document.querySelector('#HCurrentNewsId').value;
        $.ajax({
            url: apiUrl + "/SystemParameters/News/GetLatestNewsWithOutCurrentId?langId=@Common.CurrentLang&newsId=" + newsId,
            type: "Get",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                     
                        $( 
                            "<li>" +
                             "<div class='mg-recnt-post'>" +
                            "<div class='mg-rp-date'>" +
                            "<div class='mg-rp-date'>" + data[i].CreationDay +
                            "<div class='mg-rp-month'>" + data[i].CreationMonth + "</div></div> </div>" +
                           "<h3>" +
                            "<a href='/News/Details/" + data[i].Id + "'>" + data[i].DisplayValue.toString().substring(20, 0) + "</a></h3>" +
                            "<p>" + data[i].DisplayValueDesc.substring(50, 0) + "</p></div></li>"


                            ).appendTo("#ulAllNews");
                    



                }
                for (var j = 0; j < data[0].Categories.length; j++) {
                    $(
                        "<li>" +
                        "<a href='/News/Index/" + data[0].Categories[j].Id + "'>" + data[0].Categories[j].DisplayValue + "</a>" +
                        " </li>"


                    ).appendTo("#ulCategory");
                }
            },
            error: function(msg) {
               //  alert("error news category");
            }
        });


    });
</script>