@using GMG_Portal.API.Models.SystemParameters
@model List<News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>All News</h2>
                <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="mg-blog-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <main>
                        @foreach (News newsObj in Model)
                        {
                            <article class="mg-post">
                                <header>
                                    @if (newsObj.Image != null)
                                    {
                                        <a href="/News/Details/@newsObj.Id"><img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/News/@newsObj.Image" alt="" class="img-responsive"></a>
                                    }
                                    <h2 class="mg-post-title">
                                        <a href="/News/Details/@newsObj.Id" rel="bookmark">
                                            @newsObj.DisplayValue.ToString().Substring(0, 20)
                                        </a>
                                    </h2>
                                    <div class="mg-post-meta">
                                        <span><a href="#">@newsObj.CreationTime.Value.ToString("D")</a></span>
                                        <span>by  @newsObj.CreatorUserName </span>
                                        <span><a href="/News/IndexCat/@newsObj.CategoryId">@newsObj.CategoryName</a> </span>
                                        @*   <span><a href="#">3 Comments</a></span>*@
                                    </div>
                                </header>
                                <div>
                                    <p>@newsObj.DisplayValueDesc.</p>
                                </div>
                                <footer class="clearfix">
                                    <a href="/News/Details/@newsObj.Id" class="mg-read-more">Continue Reading <i class="fa fa-long-arrow-right"></i></a>
                                </footer>
                            </article>

                        }
                    </main>
                </div>
                <div class="col-md-4">
                    <div class="mg-widget-area">
                        <aside class="mg-widget">
                            <input type="text" placeholder="Search..." class="form-control">
                        </aside>
                        <aside class="mg-widget">
                            <h2 class="mg-widget-title">Recent Posts</h2>
                            <ul class="mg-recnt-posts">
                                @foreach (News t in Model.Take(3))
                                {
                                    <li>
                                        <div class="mg-recnt-post">
                                            <div class="mg-rp-date">
                                                <div class="mg-rp-date">@t.CreationTime.Value.Day <div class="mg-rp-month">@t.CreationTime.Value.ToString("MMM")</div></div>
                                            </div>
                                            <h3>
                                                <a href="/News/Details/@t.Id">@t.DisplayValue</a>
                                            </h3>
                                            <p>@t.DisplayValueDesc.ToString().Substring(0, 30)</p>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </aside>
                        <aside class="mg-widget">
                            <h2 class="mg-widget-title">Category</h2>
                            <ul>
                                @if (Model != null)
                                {
                                    foreach (Category cat in Model[0].Categories.Take(4))
                                    {

                                        <li>
                                            <a href="/News/IndexCat/@cat.Id">@cat.DisplayValue</a>
                                        </li>

                                    }
                                }
                            </ul>
                        </aside>
                        @*<aside class="mg-widget">
                            <h2 class="mg-widget-title">Tags</h2>
                            <div class="tagcloud">
                                <a href="#">Rooms</a>
                                <a href="#">Events</a>
                                <a href="#">Promotion</a>
                                <a href="#">Audio</a>
                                <a href="#">Video</a>
                                <a href="#">Gallery</a>
                                <a href="#">New</a>
                                <a href="#">Travel</a>
                            </div>
                        </aside>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

}

