@model GMG_Portal.API.Models.SystemParameters.News

@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewsDetails</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupKeyGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupKeyGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayValueDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayValueDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupKeyDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupKeyDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupKeyGuidDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupKeyGuidDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifierUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifierUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleterUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleterUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
