
@{
    ViewBag.Title = "Index";
}
@using GMG_Portal.Content;
@using GMG_Portal.Content.Admin
@using GMG_Portal.Content.Admin.SystemParameters
<script type="text/javascript" src="~/Scripts/app/services/CoreValues.js"></script>
<script type="text/javascript" src="~/Scripts/app/pages/CoreValues/CoreValues.js"></script>
<input type="hidden" id="HEnglishNameUnique" value="@CoreValues.EnglishNameUnique" />
<input type="hidden" id="HUpdateSuccessMessage" value="@CoreValues.UpdateSuccessMessage" />
<input type="hidden" id="HSaveSuccessMessage" value="@CoreValues.SaveSuccessMessage" />
<input type="hidden" id="HDeleteSuccessMessage" value="@CoreValues.DeleteSuccessMessage" />
<input type="hidden" id="HArabicNameUnique" value="@CoreValues.TxtTitleUniqueErrorMessage" />
<input type="hidden" id="HCannotDeleted" value="@CoreValues.CannotDeleted" />
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>
<div ng-controller="CoreValuesController">

    <div ba-panel>
        <table class="table table-hover table-condensed" st-table="TableData" st-safe-src="CoreValues">
            <thead>
            <tr class="toolbar">
                <th colspan="2">
                    <div class="input-group">
                        <span class="input-group-addon addon-left"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input st-search="" class="form-control" placeholder="@CoreValues.txtSearchLbl" type="text" />
                    </div>
                </th>
                <th colspan="1"></th>
                <th>
                    <div class="input-group">
                        <button class="btn btn-primary btn-with-icon" ng-click="open(null)"><i class="fa fa-plus" aria-hidden="true"></i>@CoreValues.BtnAdd</button>
                    </div>
                </th>
            </tr>

            <tr class="sortable">
                <th>#</th> 
                <th st-sort="Title">@CoreValues.Title</th>
                <th st-sort="Desc">@CoreValues.Desc</th> 
                <th>Actions</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="CoreValues in TableData">
                <td ng-class="{'red-text': CoreValues.IsDeleted == true}">{{$index+1}}</td>
                <td ng-class="{'red-text': CoreValues.IsDeleted == true}">{{CoreValues.DisplayValue}}</td>
                <td ng-class="{'red-text': CoreValues.IsDeleted == true}">{{CoreValues.DisplayValueDesc | limitTo:letterLimit}} </td>
                <td>
                    <div class="buttons" ng-show="!CoreValues.IsDeleted">
                        <button class="btn btn-primary editable-table-button btn-xs btn-with-icon" ng-click="open(CoreValues)"><i class="fa fa-pencil" aria-hidden="true"></i>@CoreValues.TableBtnEdit</button>
                        <button class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-confirm="Confirm Delete ?" ng-click="Delete(CoreValues)"><i class="fa fa-trash-o" aria-hidden="true"></i>@CoreValues.TableBtnDelete</button>
                    </div>
                    <div class="buttons restore-button" ng-show="CoreValues.IsDeleted">
                        <button class="center-block btn btn-default  restore-button btn-xs btn-with-icon" ng-click="Restore(CoreValues)"><i class="fa fa-undo" aria-hidden="true"></i>Restore</button>
                    </div>
                </td>
            </tr>
            <tr ng-show="TableData.length==0">
                <td colspan="4">
                    @Shared.GridNoData
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="modal fade" id="ModelImage" role="dialog">
        <div class="modal-dialog">
            @*<img style="width: 100%;
                                       height: 65%;" src="http://localhost:19056/Uploads/{{CoreValues.Image}}" />*@
            @*<img src="http://localhost:19056/Uploads/5.jpg" />*@
        </div>
    </div>

    <form name="FrmAddUpdate" novalidate ng-submit="save()" autocomplete="off">
        @*<form name="FrmAddUpdate" novalidate autocomplete="off">*@

        <div class="modal fade" id="ModelAddUpdate" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{action |uppercase}} @CoreValues.ModalTitle</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="TxtTitle">@CoreValues.Title</label><span class="red-text"> *</span>
                            <input type="text" ng-model="CoreValues.DisplayValue" not-in-list="Features" list-item-id="CoreValues.ID" class="form-control" Title="TxtTitle"
                                   placeholder="@CoreValues.Title" required ng-pattern="/@Regex.NameAr/">

                            <div class="red-text" ng-messages="FrmAddUpdate.TxtTitle.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                <span class="red-text" ng-message="required">@CoreValues.TxtTitleRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@CoreValues.TxtTitlePatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@CoreValues.TxtTitleUniqueErrorMessage</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TxtDesc">@CoreValues.Desc</label><span class="red-text"> *</span>
                            <textarea ng-model="CoreValues.DisplayValueDesc" not-in-list="Features" list-item-id="CoreValues.ID" class="form-control" name="TxtDesc"
                                      placeholder="Text" required ng-pattern="/@Regex.NameEn/"></textarea>
                            <div class="red-text" ng-messages="FrmAddUpdate.TxtDesc.$error" ng-show="FrmAddUpdate.TxtDesc.$touched">
                                <span class="red-text" ng-message="required">@CoreValues.TxtDescRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@CoreValues.TxtDescPatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@CoreValues.TxtDescUniqueErrorMessage</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="TxtIcon">@CoreValues.Icon</label>
                            <input type="text" ng-model="CoreValues.Icon" not-in-list="Features" list-item-id="CoreValues.ID" class="form-control" name="TxtIcon"
                                   placeholder="@CoreValues.Icon" ng-pattern="/@Regex.Name/">
                            <div class="red-text" ng-messages="FrmAddUpdate.TxtIcon.$error" ng-show="FrmAddUpdate.TxtUrl.$touched">
                                <span class="red-text" ng-message="pattern">@CoreValues.TxtUrlPatternErrorMessage</span>
                            </div>
                        </div>
                       
                         
                    </div>
                    <div class="modal-footer"> 
                        <button type="submit" class="btn btn-primary btn-with-icon"   ng-disabled="FrmAddUpdate.$invalid"><i class="ion-android-checkmark-circle"></i>@CoreValues.btnSaveLbl</button>
                    </div>
                </div>

            </div>
        </div>
    </form>


</div>






