
@{
    ViewBag.Title = "ContactForm";
}
@using GMG_Portal.Content;
@using GMG_Portal.Content.Admin
@using GMG_Portal.Content.Admin.SystemParameters
<script type="text/javascript" src="~/Scripts/app/services/ContactForm.js"></script>
<script type="text/javascript" src="~/Scripts/app/pages/ContactForm/ContactForm.js"></script>
<input type="hidden" id="HEnglishNameUnique" value="@ContactForm.EnglishNameUnique" />
<input type="hidden" id="HUpdateSuccessMessage" value="@ContactForm.UpdateSuccessMessage" />
<input type="hidden" id="HSaveSuccessMessage" value="@ContactForm.SaveSuccessMessage" />
<input type="hidden" id="HDeleteSuccessMessage" value="@ContactForm.DeleteSuccessMessage" />
@*<input type="hidden" id="HArabicNameUnique" value="@ContactForm.TxtTitleUniqueErrorMessage" />*@
<input type="hidden" id="HCannotDeleted" value="@ContactForm.CannotDeleted" />

<div ng-controller="ContactFormController">

    <div ba-panel>
        <table class="table table-hover table-condensed" st-table="TableData" st-safe-src="ContactForm">
            <thead>
                <tr class="toolbar">
                    <th colspan="2">
                        <div class="input-group">
                            <span class="input-group-addon addon-left"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input st-search="" class="form-control" placeholder="@ContactForm.txtSearchLbl" type="text" />
                        </div>
                    </th>
                    <th colspan="1"></th>

                </tr>

                <tr class="sortable">
                    <th>#</th>
                    <th st-sort="Name">@ContactForm.FirstName</th>
                    <th st-sort="Title">@ContactForm.Email</th>
                    <th st-sort="Title">@ContactForm.Phone</th>
                    <th st-sort="Title">@ContactForm.CreationTime</th>
                    <th>@ContactForm.Action</th>
                    <th>@ContactForm.Action</th>
                    @*<th ng-show="ContactForm.Seen">@ContactForm.Seen By</th>*@

                </tr>

            </thead>
            <tbody>
                <tr ng-class="{'red-text': ContactForm.Seen == false}" ng-repeat="ContactForm in TableData">
                    <td>{{$index+1}}</td>
                    <td>{{ContactForm.FirstName}}</td>
                    <td>{{ContactForm.Email}}</td>
                    <td>{{ContactForm.Phone}}</td>
                    <td>{{ContactForm.CreationTime   | date:'fullDate'}}</td>
                    <td>
                        <button class="btn btn-primary editable-table-button btn-xs btn-with-icon" ng-click="open(ContactForm)"><i class="fa fa-pencil" aria-hidden="true"></i>@ContactForm.View</button>
                    </td>
                    <td>
                        <div class="buttons" ng-show="!ContactForm.Seen">
                            <button class="center-block btn btn-default  restore-button btn-xs btn-with-icon" ng-click="Seen(ContactForm)"><i class="fa fa-undo" aria-hidden="true"></i>@ContactForm.Seen</button>
                        </div>
                        <div class="buttons" ng-show="ContactForm.Seen">
                            {{ContactForm.SeenBy}}
                        </div>
                    </td>
                </tr>
                <tr ng-show="TableData.length==0">
                    <td colspan="4">
                        @Shared.GridNoData
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <form name="FrmAddUpdate" ng-submit="save()" novalidate autocomplete="off">

        <div class="modal fade" id="ModelAddUpdate" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{action |uppercase}} @ContactForm.ModalTitle</h4>
                    </div>
                    <div class="modal-body">
                        @*CreationTime*@

                        <div class="form-group">
                            <label for="TxtTitle">@ContactForm.CreationTime</label><span class="red-text"> *</span>
                            <input type="text" ng-model="contact.CreationTime" class="form-control" Title="TxtTitle"
                                   placeholder="@ContactForm.CreationTime" required ng-pattern="/@Regex.NameAr/">
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="TxtTitle">@ContactForm.FirstName</label><span class="red-text"> *</span>
                                    <input type="text" ng-model="contact.FirstName" class="form-control" Title="TxtTitle" readonly="readonly"
                                           placeholder="@ContactForm.FirstName" required ng-pattern="/@Regex.NameAr/">
                                </div>
                            </div>
                           
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="TxtTitle">@ContactForm.PhoneNo</label><span class="red-text"> *</span>
                                    <input type="text" ng-model="contact.PhoneNo" class="form-control" Title="TxtTitle"
                                           placeholder="@ContactForm.PhoneNo" required ng-pattern="/@Regex.Number/">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="TxtTitle">@ContactForm.Email</label><span class="red-text"> *</span>
                                    <input type="text" ng-model="contact.Email" class="form-control" Title="TxtTitle" readonly="readonly"
                                           placeholder="@ContactForm.Email" required ng-pattern="/@Regex.NameAr/">
                                </div>
                            </div>
                        </div>
           
                        <div class="form-group">
                            <label for="TxtDesc">@ContactForm.Message</label><span class="red-text"> *</span>
                            <textarea ng-model="contact.Message"   class="form-control" name="TxtDesc"
                                      placeholder="Text" required ng-pattern="/@Regex.NameEn/"></textarea>
                            <div class="red-text" ng-messages="FrmAddUpdate.TxtDesc.$error" ng-show="FrmAddUpdate.TxtDesc.$touched">
                                <span class="red-text" ng-message="required">@ContactForm.TxtDescRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@ContactForm.TxtDescPatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@ContactForm.TxtDescUniqueErrorMessage</span>
                                <span class="red-text" ng-message="minlength">Minimum 20 Charachter</span>
                                <span class="red-text" ng-message="maxlength">Maximum 30 Charachter</span>
                            </div>
                        </div>


                     

                    </div>

                </div>

            </div>
        </div>
    </form>


</div>






