
@{
    ViewBag.Title = "Index";
}
@using GMG_Portal.Content;
@using GMG_Portal.Content.Admin
@using GMG_Portal.Content.Admin.Hotel
@using GMG_Portal.Content.Admin.SystemParameters
<script type="text/javascript" src="~/Scripts/app/services/Hotel.js"></script>
<script type="text/javascript" src="~/Scripts/app/pages/Hotel/Hotel.js"></script>
<input type="hidden" id="HEnglishNameUnique" value="@Hotel.EnglishNameUnique" />
<input type="hidden" id="HUpdateSuccessMessage" value="@Hotel.UpdateSuccessMessage" />
<input type="hidden" id="HSaveSuccessMessage" value="@Hotel.SaveSuccessMessage" />
<input type="hidden" id="HDeleteSuccessMessage" value="@Hotel.DeleteSuccessMessage" />
<input type="hidden" id="HArabicNameUnique" value="@Hotel.TxtTitleUniqueErrorMessage" />
<input type="hidden" id="HCannotDeleted" value="@Hotel.CannotDeleted" />
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
        }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>
<div ng-controller="HotelsController">

    <div ba-panel ng-show="ShowTableData">
        <table class="table table-hover table-condensed" st-table="TableData" st-safe-src="Hotels">
            <thead>
                <tr class="toolbar">
                    <th colspan="2">
                        <div class="input-group">
                            <span class="input-group-addon addon-left"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input st-search="" class="form-control" placeholder="@Hotel.txtSearchLbl" type="text" />
                        </div>
                    </th>
                    <th colspan="1"></th>
                    <th>
                        <div class="input-group">
                            <button class="btn btn-primary btn-with-icon" ng-click="open(null)"><i class="fa fa-plus" aria-hidden="true"></i>@Hotel.BtnAdd</button>
                        </div>
                    </th>
                </tr>

                <tr class="sortable">
                    <th>#</th>
                    <th st-sort="Image">@Hotel.Title</th>
                    <th st-sort="Title">@Hotel.Desc</th>
                    <th st-sort="Desc">@Hotel.Price</th>
                    <th st-sort="Image">Image</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="Hotel in TableData">
                    <td ng-class="{'red-text': Hotel.IsDeleted == true }">{{$index+1}}</td>
                    <td ng-class="{'red-text': Hotel.IsDeleted == true}">{{Hotel.DisplayValue}}</td>
                    <td ng-class="{'red-text': Hotel.IsDeleted == true}">{{Hotel.DisplayValueDesc | limitTo:letterLimit}} </td>
                    <td ng-class="{'red-text': Hotel.IsDeleted == true}">{{Hotel.PriceStart}}</td>
                    <td>
                        <span ng-show="!Hotel.HasImage" class="btn-xs btn btn-danger">No Image</span>
                        <span ng-show="Hotel.HasImage" class="btn-xs btn btn-success"> Image</span>
                    </td>
                    <td>
                        <div class="buttons" ng-show="!Hotel.IsDeleted">
                            <button class="btn btn-primary editable-table-button btn-xs btn-with-icon" ng-click="open(Hotel)"><i class="fa fa-pencil" aria-hidden="true"></i>@Hotel.TableBtnEdit</button>
                            <button class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-confirm="Confirm Delete ?" ng-click="Delete(Hotel)"><i class="fa fa-trash-o" aria-hidden="true"></i>@Hotel.TableBtnDelete</button>
                        </div>
                        <div class="buttons restore-button" ng-show="Hotel.IsDeleted">
                            <button class="center-block btn btn-default  restore-button btn-xs btn-with-icon" ng-click="Restore(Hotel)"><i class="fa fa-undo" aria-hidden="true"></i>Restore</button>
                        </div>
                    </td>
                </tr>
                <tr ng-show="TableData.length==0">
                    <td colspan="4">
                        @Shared.GridNoData
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="modal fade" id="ModelImage" role="dialog">
        <div class="modal-dialog">
            <img style="width: 100%;height: 65%;" src="http://gmgbackend.azurewebsites.net/Uploads/{{Hotel.Image}}" />
        </div>
    </div>


    <div class="row" ng-show="ShowFrmAddUpdate">
        <div class="col-md-12" ng-show="basicInfo">
            <div ba-panel ba-panel-name="Form Wizard" ba-panel-class="with-scroll">
                <ba-wizard>

                    <ba-wizard-step name="@Hotel.TabBasicInformationTitle">
                        <div name="FrmAddUpdate" id="FrmAddUpdateId" novalidate ng-form autocomplete="off">

                            <div class="row">
                                <div class="col-md-2"></div>

                                <div class="col-md-8">
                                    <input name="txtHide" type="hidden" value="{{ctrl.isFrmAddUpdateInvalid=FrmAddUpdate.$invalid}}" />
                                    <div class="form-group">
                                        <label for="TxtTitle">@Hotel.Title</label><span class="red-text"> *</span>
                                        <input type="text" ng-model="Hotel.DisplayValue" class="form-control" name="TxtTitle"
                                               placeholder="@Hotel.Title" ng-minlength="20" ng-maxlength="30" required ng-pattern="/@Regex.NameAr/">

                                        <div class="red-text" ng-messages="FrmAddUpdate.TxtTitle.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                            <span class="red-text" ng-message="required">@Hotel.TxtTitleRequiredErrorMessage</span>
                                            <span class="red-text" ng-message="pattern">@Hotel.TxtTitlePatternErrorMessage</span>
                                            <span class="red-text" ng-message="notInList">@Hotel.TxtTitleUniqueErrorMessage</span>
                                            <span class="red-text" ng-message="minlength">Minimum 20 Charachter</span>
                                            <span class="red-text" ng-message="maxlength">Maximum 30 Charachter</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="TxtDesc">@Hotel.Desc</label><span class="red-text"> *</span>
                                        <textarea ng-model="Hotel.DisplayValueDesc" class="form-control" name="TxtDesc"
                                                  placeholder="Text" ng-minlength="50" ng-maxlength="500" required ng-pattern="/@Regex.NameEn/"></textarea>
                                        <div class="red-text" ng-messages="FrmAddUpdate.TxtDesc.$error" ng-show="FrmAddUpdate.TxtDesc.$touched">
                                            <span class="red-text" ng-message="required">@Hotel.TxtDescRequiredErrorMessage</span>
                                            <span class="red-text" ng-message="pattern">@Hotel.TxtDescPatternErrorMessage</span>
                                            <span class="red-text" ng-message="notInList">@Hotel.TxtDescUniqueErrorMessage</span>
                                            <span class="red-text" ng-message="minlength">Minimum 50 Charachter</span>
                                            <span class="red-text" ng-message="maxlength">Maximum 500 Charachter</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        @*<div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TxtTitle">@Hotel.Mail</label><span class="red-text"> *</span>
                                                <input type="text" ng-model="Hotel.Email" class="form-control" name="TxtMail"
                                                       placeholder="@Hotel.Mail" required ng-pattern="/@Regex.Email/">

                                                <div class="red-text" ng-messages="FrmAddUpdate.TxtTitle.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                                        <span class="red-text" ng-message="required">@Hotel.TxtMailRequiredErrorMessage</span>
                                                        <span class="red-text" ng-message="pattern">@Hotel.TxtMailPatternErrorMessage</span>
                                                    </div>
                                            </div>
                                        </div>*@
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TxtPrice">@Hotel.Price</label><span class="red-text"> *</span>
                                                <input type="text" ng-model="Hotel.PriceStart" class="form-control" name="TxtPrice"
                                                       placeholder="@Hotel.Price" ng-minlength="1" ng-maxlength="2" required ng-pattern="/@Regex.NumberWithoutZero/">

                                                <div class="red-text" ng-messages="FrmAddUpdate.TxtPrice.$error" ng-show="FrmAddUpdate.TxtPrice.$touched">
                                                    <span class="red-text" ng-message="required">@Hotel.TxtPriceRequiredErrorMessage</span>
                                                    <span class="red-text" ng-message="pattern">@Hotel.TxtPricePatternErrorMessage</span>
                                                    <span class="red-text" ng-message="minlength">Minimum 1 Digit</span>
                                                    <span class="red-text" ng-message="maxlength">Maximum 2 Digits</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TxtCheckin">@Hotel.Checkin</label><span class="red-text"> *</span>
                                                <input type="text" ng-model="Hotel.CheckIn" class="form-control" name="TxtCheckin"
                                                       placeholder="@Hotel.Checkin" required ng-pattern="/@Regex.NameAr/">

                                                <div class="red-text" ng-messages="FrmAddUpdate.TxtCheckin.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                                        <span class="red-text" ng-message="required">@Hotel.TxtCheckinRequiredErrorMessage</span>
                                                        <span class="red-text" ng-message="pattern">@Hotel.TxtCheckinPatternErrorMessage</span>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TxtCheckOut">@Hotel.CheckOut</label><span class="red-text"> *</span>
                                                <input type="text" ng-model="Hotel.CheckOut" class="form-control" name="TxtCheckOut"
                                                       placeholder="@Hotel.CheckOut" required ng-pattern="/@Regex.NameAr/">

                                                <div class="red-text" ng-messages="FrmAddUpdate.TxtCheckOut.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                                        <span class="red-text" ng-message="required">@Hotel.TxtCheckoutRequiredErrorMessage</span>
                                                        <span class="red-text" ng-message="pattern">@Hotel.TxtCheckoutPatternErrorMessage</span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TxtLate">@Hotel.Late</label><span class="red-text"> *</span>
                                                <input type="text" ng-model="Hotel.Late" class="form-control" name="TxtLate"
                                                       placeholder="@Hotel.Late" required ng-pattern="/@Regex.DecimalNumber/">

                                              
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TxtLong">@Hotel.Long</label><span class="red-text"> *</span>
                                                <input type="text" ng-model="Hotel.Long" class="form-control" name="TxtLong"
                                                       placeholder="@Hotel.Long" required ng-pattern="/@Regex.DecimalNumber/">

                                                
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>

                            <div class="col-md-2"></div>

                        </div>
                    </ba-wizard-step>

                </ba-wizard>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12 pull-right">
                        <button ng-click="save()" class="btn btn-primary btn-with-icon pull-right" ng-disabled="FrmAddUpdate.$invalid"><i class="ion-android-checkmark-circle"></i>Contuine</button>
                        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="saveExist()" ng-show="action=='edit'" ng-disabled="FrmAddUpdate.$invalid"><i class="ion-android-checkmark-circle"></i>Save & exit</button>
                        <button type="button" ng-click="back()" class="btn btn-default btn-with-icon pull-right"><i class="ion-stats-bars"></i>@Hotel.btnBack</button>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-show="imagesList">
            <div ba-panel ba-panel-name="Form Wizard" ba-panel-class="with-scroll">
                <span style="    margin-left: 468px;">  {{Hotel.DisplayValue}}</span>
                <ba-wizard>
                    <ba-wizard-step name="@Hotel.HotelGallery">


                        <table class="table table-hover table-condensed" st-table="TableData" st-safe-src="HotelDetails.ImageList">
                            <thead>
                                <tr class="toolbar">
                                    <th>
                                        <div class="input-group">
                                            <button class="btn btn-primary btn-with-icon" ng-click="openUploadImage(null)"><i class="fa fa-plus" aria-hidden="true"></i>@Hotel.BtnAdd</button>
                                        </div>
                                    </th>
                                </tr>

                                <tr class="sortable">
                                    <th>#</th>
                                    <th st-sort="Image">@Hotel.Image</th>
                                    <th>Actions</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="Image in TableData">
                                    <td ng-class="{'red-text': Image.IsDeleted == true}">{{$index+1}}</td>
                                    <td ng-class="{'red-text': Image.IsDeleted == true}"><img ng-click="openImage(Image)" width="70px" height="70px" src="http://gmgbackend.azurewebsites.net/Uploads/{{Hotel.Image}}" /></td>

                                    <td>
                                        <div class="buttons" ng-show="!Image.IsDeleted">
                                            <button class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-confirm="Confirm Delete ?" ng-click="DeleteImage(Image)"><i class="fa fa-trash-o" aria-hidden="true"></i>@Hotel.TableBtnDelete</button>
                                        </div>
                                        <div class="buttons restore-button" ng-show="Image.IsDeleted">
                                            <button class="center-block btn btn-default  restore-button btn-xs btn-with-icon" ng-click="RestoreImage(Image)"><i class="fa fa-undo" aria-hidden="true"></i>Restore</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="TableData.length==0">
                                    <td colspan="4">
                                        @Shared.GridNoData
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <div st-pagination="" st-items-by-page="10"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </ba-wizard-step>
                </ba-wizard>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12 pull-right">
                        @*<button ng-click="save()" class="btn btn-primary btn-with-icon pull-right" ng-disabled="ctrl.isFrmAddUpdateInvalid ||isFrmRowformInvalid||isSecondFrmRowformInvalid"><i class="ion-android-checkmark-circle"></i>@Hotel.btnSaveLbl</button>*@
                        <button type="button" ng-click="back()" class="btn btn-default btn-with-icon pull-right"><i class="ion-stats-bars"></i>@Hotel.btnBack</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*<form name="FrmAddUpdate" novalidate ng-submit="save()" autocomplete="off">*@
    <form name="FrmAddUpdate" novalidate autocomplete="off">

        <div class="modal fade" id="ModelAddUpdate" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{action |uppercase}} @Hotel.ModalTitle</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="TxtTitle">@Hotel.Title</label><span class="red-text"> *</span>
                            <input type="text" ng-model="Hotel.DisplayValue" class="form-control" name="TxtTitle"
                                   placeholder="@Hotel.Title" required ng-pattern="/@Regex.NameAr/">

                            <div class="red-text" ng-messages="FrmAddUpdate.TxtTitle.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                <span class="red-text" ng-message="required">@Hotel.TxtTitleRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@Hotel.TxtTitlePatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@Hotel.TxtTitleUniqueErrorMessage</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TxtDesc">@Hotel.Desc</label><span class="red-text"> *</span>
                            <textarea ng-model="Hotel.DisplayValueDesc" class="form-control" name="TxtDesc"
                                      placeholder="Text" required ng-pattern="/@Regex.NameEn/"></textarea>
                            <div class="red-text" ng-messages="FrmAddUpdate.TxtDesc.$error" ng-show="FrmAddUpdate.TxtDesc.$touched">
                                <span class="red-text" ng-message="required">@Hotel.TxtDescRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@Hotel.TxtDescPatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@Hotel.TxtDescUniqueErrorMessage</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="uploadFiles()" ng-disabled="FrmAddUpdate.$invalid"><i class="ion-android-checkmark-circle"></i>@Hotel.btnSaveLbl</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="modal fade" id="ModelAddUpdateImage" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{action |uppercase}} @Hotel.Image</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="TxtRate">@Hotel.Image</label><span class="red-text"> *</span>

                        <div class="fileinput fileinput-new" data-provides="fileinput">

                            <div class="col-lg-6 col-sm-6 col-12">

                                @*<div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse...<input type="file" multiple="" my-directory="getFiles(file)" ng-disabled="uploading" />
                                            </span>

                                        </span>
                                        <input type="text" ng-model="countFiles" required class="form-control" readonly>
                                    </div>*@
                                <div class="input-group">
                                    @*<span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse...<input type="file" multiple="" my-directory="getFiles(file)" ng-disabled="uploading" />
                                            </span>

                                        </span>*@
                                    <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />

                                </div>

                                @*<input type="button" ng-click="uploadFiles()" value="Upload" />*@

                                <!--ADD A PROGRESS BAR ELEMENT.-->
                                <p>@*<progress id="pro" value="1"></progress>*@</p>

                                @*<input type="button" class="btn btn-default  btn-primary" ng-click="uploadFiles()" value="Upload" ng-disabled="uploading || countFiles===''" />*@

                                @*<img style="width: 100px; height: 100px" src="http://gmgbackend.azurewebsites.net/Uploads/{{HotelDetails.Image}}" ng-show="HotelDetails.Image" />*@

                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-with-icon" ng-click="uploadFiles()"><i class="ion-android-checkmark-circle"></i>@HomeSlider.btnSaveLbl</button>
                </div>
            </div>
        </div>
    </div>
</div>






