
@{
    ViewBag.Title = "Index";
}
@using GMG_Portal.Content;
@using GMG_Portal.Content.Admin
@using GMG_Portal.Content.Admin.Hotel
@using GMG_Portal.Content.Admin.SystemParameters
<script type="text/javascript" src="~/Scripts/app/services/Hotel.js"></script>
<script type="text/javascript" src="~/Scripts/app/services/Currency.js"></script>
<script type="text/javascript" src="~/Scripts/app/pages/Hotel/Hotel.js"></script>
<input type="hidden" id="HEnglishNameUnique" value="@Hotel.EnglishNameUnique" />
<input type="hidden" id="HUpdateSuccessMessage" value="@Hotel.UpdateSuccessMessage" />
<input type="hidden" id="HSaveSuccessMessage" value="@Hotel.SaveSuccessMessage" />
<input type="hidden" id="HDeleteSuccessMessage" value="@Hotel.DeleteSuccessMessage" />
<input type="hidden" id="HArabicNameUnique" value="@Hotel.TxtTitleUniqueErrorMessage" />
<input type="hidden" id="HCannotDeleted" value="@Hotel.CannotDeleted" />
<style>
    h3 img {
        max-height: 50px;
    }

    #map {
        height: 400px;
        margin: 20px 0;
        border-radius: 5px;
        border: 1px solid silver;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
        }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }

    .list {
        list-style: none outside none;
        margin: 10px 0 30px;
    }

    .itemListing {
        width: 200px;
        padding: 5px 10px;
        margin: 5px 0;
        border: 2px solid #444;
        border-radius: 5px;
        background-color: #EA8A8A;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        cursor: move;
    }


    /***  Extra ***/


    .logList {
        margin-top: 20px;
        width: 250px;
        min-height: 200px;
        padding: 5px 15px;
        border: 5px solid #000;
        border-radius: 15px;
        float: right;
    }

        .logList:before {
            content: 'log';
            padding: 0 5px;
            position: relative;
            top: -1.1em;
            background-color: #FFF;
        }

    .container {
        width: 600px;
        margin: auto;
    }

    h2 {
        text-align: center;
    }

    .floatleft {
        float: left;
    }

    .floatright {
        float: right;
    }

    .clear {
        clear: both;
    }

    .list {
        list-style: none outside none;
        margin: 10px 0 30px;
    }

    .apps-container {
        border: 2px dashed blue;
        margin: 10px 10px 0 0;
        padding: 5px;
    }

    .app {
        width: 300px;
        padding: 5px 10px;
        margin: 5px 0;
        border: 2px solid #444;
        border-radius: 5px;
        background-color: #EA8A8A;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        cursor: move;
    }


    /***  Extra ***/

    body {
        font-family: Verdana, 'Trebuchet ms', Tahoma;
    }

    .logList {
        margin-top: 20px;
        width: 300px;
        min-height: 300px;
        padding: 5px 15px;
        border: 5px solid #000;
        border-radius: 15px;
    }

    .logItem {
        margin-bottom: 10px;
    }

    .logList:before {
        content: 'log';
        padding: 0 5px;
        position: relative;
        top: -1.1em;
        background-color: #FFF;
    }

    .container {
        width: 800px;
        margin: auto;
    }

    h2, h3 {
        text-align: center;
    }

    .floatleft {
        float: left;
    }

    .floatright {
        float: right;
    }

    .clear {
        clear: both;
    }
</style>
<div ng-controller="HotelsController">

    <div ba-panel ng-show="ShowTableData">
        <table class="table table-hover table-condensed" st-table="TableData" st-safe-src="Hotels">
            <thead>
                <tr class="toolbar">
                    <th colspan="2">
                        <div class="input-group">
                            <span class="input-group-addon addon-left"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input st-search="" class="form-control" placeholder="@Hotel.txtSearchLbl" type="text" />
                        </div>
                    </th>
                    <th colspan="1"></th>
                    <th>
                        <div class="input-group">
                            <button class="btn btn-primary btn-with-icon" ng-click="open(null)"><i class="fa fa-plus" aria-hidden="true"></i>@Hotel.BtnAdd</button>
                        </div>
                    </th>
                </tr>

                <tr class="sortable">
                    <th>#</th>
                    <th st-sort="Image">@Hotel.Title</th>
                    <th st-sort="Title">@Hotel.Desc</th>
                    <th st-sort="Desc">@Hotel.Price</th>
                    <th st-sort="Visbility">Image/Features</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="Hotel in TableData">
                    <td ng-class="{'red-text': Hotel.IsDeleted == true }">{{$index+1}}</td>
                    <td ng-class="{'red-text': Hotel.IsDeleted == true}">
                  <span ng-repeat="(name, age) in Hotel.TitleDictionary" ng-if="name == currentLanguage">
                            {{age}}
                        </span>
                    </td>
                    <td ng-class="{'red-text': Hotel.IsDeleted == true}">
                        <span ng-repeat="(name, age) in Hotel.DescDictionary" ng-if="name == currentLanguage">
                            {{age | limitTo:letterLimit}}
                        </span>
                    </td>
                    <td ng-class="{'red-text': Hotel.IsDeleted == true}">{{Hotel.PriceStart}} {{(currencyList  |filter: {Id: Hotel.Currency})[0].TitleDictionary[currentLanguage] }}</td>
                    <td> 
                       
                    
                          <span ng-show="Hotel.ImageList.length <= 0  || Hotel.FeaturesList.length <= 0" class="btn-xs btn btn-danger" title="this hotel will (not) appear in the website">NO</span>
                        @*<button type="submit" class="btn btn-primary btn-with-icon pull-right" ng-click="showFeatures()"><i class="ion-android-checkmark-circle"></i>Countiue to featuers</button>*@

                        <span ng-show="Hotel.ImageList.length > 0  && Hotel.FeaturesList.length > 0" class="btn-xs btn btn-success" title="this hotel will appear in the website"> YES</span>
                    </td>
                    <td>
                        <div class="buttons" ng-show="!Hotel.IsDeleted">
                            <button class="btn btn-primary editable-table-button btn-xs btn-with-icon" ng-click="open(Hotel)"><i class="fa fa-pencil" aria-hidden="true"></i>@Hotel.TableBtnEdit</button>
                            <button class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-confirm="Confirm Delete ?" ng-click="Delete(Hotel)"><i class="fa fa-trash-o" aria-hidden="true"></i>@Hotel.TableBtnDelete</button>
                        </div>
                        <div class="buttons restore-button" ng-show="Hotel.IsDeleted">
                            <button class="center-block btn btn-default  restore-button btn-xs btn-with-icon" ng-click="Restore(Hotel)"><i class="fa fa-undo" aria-hidden="true"></i>Restore</button>
                        </div>
                    </td>
                </tr>
                <tr ng-show="TableData.length==0">
                    <td colspan="4">
                        @Shared.GridNoData
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="modal fade" id="ModelImage" role="dialog">
        <div class="modal-dialog">
            <img style="width: 100%;height: 65%;" ng-src="@System.Configuration.ConfigurationManager.AppSettings["ImageUrl"]/Uploads/Hotels/{{ImageObj.Image}}" />
        </div>
    </div>


    <div class="row" ng-show="ShowFrmAddUpdate">
        <div class="col-md-12" ng-show="basicInfo">
            <div ba-panel ba-panel-name="Form Wizard" ba-panel-class="with-scroll">

                <span style="margin-left: 468px;"> @Hotel.TabBasicInformationTitle</span>
                <div name="FrmAddUpdateWizard" id="FrmAddUpdateId" novalidate ng-form autocomplete="off">

                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <input name="txtHide" type="hidden" value="{{ctrl.isFrmAddUpdateInvalid=FrmAddUpdateWizard.$invalid}}" />
                            <div class="form-group">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs tab-border-top-primary" style="border-bottom: 1px solid transparent;background-color: #d6ece9;">
                                        <li ng-repeat="lang in language" ng-class="{active:$first}">
                                            <a data-toggle="tab" data-target="#tab-{{lang.id}}">
                                                {{lang.value}}
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div ng-repeat="lang in language" id="tab-{{lang.id}}" class="tab-pane" ng-class="{active:$first}">
                                            <div class="panel-body" style="height: calc(40% - 44px); ">
                                                <div class="form-group">
                                                    <label>{{lang.value}}  title</label>
                                                    <input type="text" ng-model="Hotel.TitleDictionary[lang.key]" placeholder="Enter {{lang.value}}  title"
                                                           class="form-control" name="u{{lang.value+'name'}}" required="">
                                                    <br />
                                                    <div ng-show="FrmAddUpdate.$submitted || FrmAddUpdate.u{{lang.value+'name'}}.$touched">
                                                        <label id="-error" class="red-text" ng-show="FrmAddUpdate.u{{lang.value+'name'}}.$error.required">{{lang.value}} Name is missing.</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>{{lang.value}}  Description</label>
                                                    <textarea type="text" ng-model="Hotel.DescDictionary[lang.key]" placeholder="Enter {{lang.value}}  desc"
                                                          class="form-control" name="{{lang.key+'desc'}}" required=""></textarea>
                                                    <br />
                                                    <div ng-show="FrmAddUpdate.$submitted || FrmAddUpdate.{{lang.key+'desc'}}.$touched">
                                                        <label id="-error" class="red-text" ng-show="FrmAddUpdate.{{lang.key+'desc'}}.$error.required">{{lang.value}} description is missing.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <label for="TxtTitle">@Hotel.Title</label><span class="red-text"> *</span>
                                    <input type="text" ng-model="Hotel.DisplayValue" class="form-control" name="TxtTitle"
                                           placeholder="@Hotel.Title" ng-minlength="15" ng-maxlength="30" required ng-pattern="/@Regex.NameAr/">

                                    <div class="red-text" ng-messages="FrmAddUpdateWizard.TxtTitle.$error" ng-show="FrmAddUpdateWizard.TxtTitle.$touched">
                                        <span class="red-text" ng-message="required">@Hotel.TxtTitleRequiredErrorMessage</span>
                                        <span class="red-text" ng-message="pattern">@Hotel.TxtTitlePatternErrorMessage</span>
                                        <span class="red-text" ng-message="notInList">@Hotel.TxtTitleUniqueErrorMessage</span>
                                        <span class="red-text" ng-message="minlength">Minimum 15 Charachter</span>
                                        <span class="red-text" ng-message="maxlength">Maximum 30 Charachter</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="TxtDesc">@Hotel.Desc</label><span class="red-text"> *</span>
                                    <textarea ng-model="Hotel.DisplayValueDesc" class="form-control" name="TxtDesc"
                                              placeholder="Text" ng-minlength="50" ng-maxlength="@Common.DescMax7000" required ng-pattern="/@Regex.NameEn/"></textarea>
                                    <div class="red-text" ng-messages="FrmAddUpdateWizard.TxtDesc.$error" ng-show="FrmAddUpdateWizard.TxtDesc.$touched">
                                        <span class="red-text" ng-message="required">@Hotel.TxtDescRequiredErrorMessage</span>
                                        <span class="red-text" ng-message="pattern">@Hotel.TxtDescPatternErrorMessage</span>
                                        <span class="red-text" ng-message="notInList">@Hotel.TxtDescUniqueErrorMessage</span>
                                        <span class="red-text" ng-message="minlength">Minimum 50 Charachter</span>
                                        <span class="red-text" ng-message="maxlength">@Common.MaximumKeyWord @Common.DescMax7000 @Common.Charachter</span>

                                    </div>
                                </div>*@

                            <div class="row">
                                @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label for="TxtTitle">@Hotel.Mail</label><span class="red-text"> *</span>
                                            <input type="text" ng-model="Hotel.Email" class="form-control" name="TxtMail"
                                                   placeholder="@Hotel.Mail" required ng-pattern="/@Regex.Email/">

                                            <div class="red-text" ng-messages="FrmAddUpdateWizard.TxtTitle.$error" ng-show="FrmAddUpdateWizard.TxtTitle.$touched">
                                                    <span class="red-text" ng-message="required">@Hotel.TxtMailRequiredErrorMessage</span>
                                                    <span class="red-text" ng-message="pattern">@Hotel.TxtMailPatternErrorMessage</span>
                                                </div>
                                        </div>
                                    </div>*@
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HomeSlider.Rate</label><span class="red-text"> *</span>
                                        <select class="form-control" ng-model="DDLHotelRate" required ng-change="changedRateValue(DDLHotelRate)">
                                            <option ng-repeat="x in hotelRating" value="{{x.id}}">{{x.value}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@Hotel.Curreny</label><span class="red-text"> *</span> 

                                        <select class="form-control" ng-options="x as x.TitleDictionary[currentLanguage]  for x in currencyList" name="LstHotelCurrency" ng-model="DDLHotelCurrency"
                                                ng-change="changedCurrencyValue(DDLHotelCurrency)" required>
                                            <option value=''>choose</option>
                                        </select>
                                        <div class="red-text" ng-messages="FrmAddUpdateWizard.LstHotelCurrency.$error" ng-show="FrmAddUpdateWizard.LstHotelCurrency.$touched">
                                            <span class="error" ng-message="required">Currency required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="TxtPrice">@Hotel.Price</label><span class="red-text"> *</span>
                                        <input type="number" ng-model="Hotel.PriceStart" class="form-control" name="TxtPrice"
                                               placeholder="@Hotel.Price" ng-minlength="1" ng-maxlength="5" required ng-pattern="/@Regex.NumberWithoutZero/">

                                        <div class="red-text" ng-messages="FrmAddUpdateWizard.TxtPrice.$error" ng-show="FrmAddUpdateWizard.TxtPrice.$touched">
                                            <span class="red-text" ng-message="required">@Hotel.TxtPriceRequiredErrorMessage</span>
                                            <span class="red-text" ng-message="pattern">@Hotel.TxtPricePatternErrorMessage</span>
                                            <span class="red-text" ng-message="minlength">Minimum 1 Digit</span>
                                            <span class="red-text" ng-message="maxlength">Maximum 5 Digits</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="TxtCheckin">@Hotel.Checkin</label><span class="red-text"> *</span>
                                        <input type="time" ng-model="Hotel.CheckIn" class="form-control" name="TxtCheckin" value="Hotel.CheckIn"
                                               placeholder="@Hotel.Checkin" required ng-pattern="/@Regex.NameAr/">

                                        <div class="red-text" ng-messages="FrmAddUpdateWizard.TxtCheckin.$error" ng-show="FrmAddUpdateWizard.TxtCheckin.$touched">
                                            <span class="red-text" ng-message="required">@Hotel.TxtCheckinRequiredErrorMessage</span>
                                            <span class="red-text" ng-message="pattern">@Hotel.TxtCheckinPatternErrorMessage</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="TxtCheckOut">@Hotel.CheckOut</label><span class="red-text"> *</span>
                                        <input type="time" ng-model="Hotel.CheckOut" class="form-control" name="TxtCheckOut"
                                               placeholder="@Hotel.CheckOut" required ng-pattern="/@Regex.NameAr/">

                                        <div class="red-text" ng-messages="FrmAddUpdateWizard.TxtCheckOut.$error" ng-show="FrmAddUpdateWizard.TxtCheckOut.$touched">
                                            <span class="red-text" ng-message="required">@Hotel.TxtCheckoutRequiredErrorMessage</span>
                                            <span class="red-text" ng-message="pattern">@Hotel.TxtCheckoutPatternErrorMessage</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="TxtLate">@Hotel.Late</label><span class="red-text"> *</span>
                                        <input type="text" ng-model="Hotel.Late" class="form-control" name="TxtLate" readonly="readonly"
                                               placeholder="@Hotel.Late" required ng-pattern="/@Regex.DecimalNumber/">


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="TxtLong">@Hotel.Long</label><span class="red-text"> *</span>
                                        <input type="text" ng-model="Hotel.Long" class="form-control" name="TxtLong" readonly="readonly"
                                               placeholder="@Hotel.Long" required ng-pattern="/@Regex.DecimalNumber/">


                                    </div>
                                </div>
                            </div>
                            <button ng-click="openLocation()" class="btn btn-primary btn-with-icon pull-right"><i class="ion-android-checkmark-circle"></i>Location</button>

                        </div>
                    </div>

                    <div class="col-md-2"></div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-12 pull-right">
                            <button ng-click="save()" class="btn btn-primary btn-with-icon pull-right" ng-disabled="FrmAddUpdateWizard.$invalid"><i class="ion-android-checkmark-circle"></i>Contuine</button>
                            <div ng-show="!FrmAddUpdateWizard.$dirty">
                                <button type="submit" class="btn btn-primary btn-with-icon" ng-click="back()" ng-show="action=='edit'" ng-disabled="FrmAddUpdateWizard.$invalid"><i class="ion-android-checkmark-circle"></i>Save & exit</button>
                            </div>
                            <div ng-show="FrmAddUpdateWizard.$dirty">
                                <button type="submit" class="btn btn-primary btn-with-icon" ng-click="saveExist()" ng-show="action=='edit'" ng-disabled="FrmAddUpdateWizard.$invalid"><i class="ion-android-checkmark-circle"></i>Save & exit</button>
                            </div>
                            <button type="button" ng-click="back()" class="btn btn-default btn-with-icon pull-right"><i class="ion-stats-bars"></i>Exit</button>


                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-12" ng-show="imagesListDiv">
            <div ba-panel ba-panel-name="Form Wizard" ba-panel-class="with-scroll">
                <h2>Hotel Title:   {{Hotel.TitleDictionary[currentLanguage]}}</h2>
                <span> Note: If no images added hotel will not appear <strong>(At least one image)</strong></span>
                <table class="table table-hover table-condensed" st-table="TableData" st-safe-src="HotelDetails.ImageList">
                    <thead>
                        <tr class="toolbar">
                            <th>
                                <div class="input-group">
                                    <button class="btn btn-primary btn-with-icon" ng-click="openImage(Hotel)"><i class="fa fa-plus" aria-hidden="true"></i>@Hotel.BtnAdd</button>
                                </div>
                            </th>
                        </tr>

                        <tr class="sortable">
                            <th>#</th>
                            <th st-sort="Image">@Hotel.Image</th>
                            <th>Actions</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="Image in TableData">
                            <td ng-class="{'red-text': Image.IsDeleted == true}">{{$index+1}}</td>
                            <td ng-class="{'red-text': Image.IsDeleted == true}"><img ng-click="showImagePopup(Image)" width="70px" height="70px" ng-src="@System.Configuration.ConfigurationManager.AppSettings["ImageUrl"]/Uploads/Hotels/{{Image.Image}}" /></td>
                           
                            <td>
                                <div class="buttons" ng-show="!Image.IsDeleted">
                                    <button class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-confirm="Confirm Delete ?" ng-click="DeleteImage(Image)"><i class="fa fa-trash-o" aria-hidden="true"></i>@Hotel.TableBtnDelete</button>
                                </div>
                                <div class="buttons restore-button" ng-show="Image.IsDeleted">
                                    <button class="center-block btn btn-default  restore-button btn-xs btn-with-icon" ng-click="RestoreImage(Image)"><i class="fa fa-undo" aria-hidden="true"></i>Restore</button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="TableData.length==0">
                            <td colspan="4">
                                @Shared.GridNoData
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="5"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>


                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12 pull-right">

                        <button type="submit" class="btn btn-primary btn-with-icon pull-right" ng-click="showFeatures()"><i class="ion-android-checkmark-circle"></i>Countiue to featuers</button>
                        <button type="button" ng-click="back()" class="btn btn-default btn-with-icon pull-right"><i class="ion-stats-bars"></i>Exit</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-12" ng-show="featuresListDiv">
            <div ba-panel ba-panel-name="Form Wizard" ba-panel-class="with-scroll">
                <h2>Hotel Title:   {{Hotel.TitleDictionary[currentLanguage]}}</h2>
                <span> Note: If no facilities added hotel will not appear (At least one facility)</span>

                <div class="floatleft">
                    <h4>Features list</h4> <div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="features">
                        <div class="app" ng-repeat="featureObj in features">
                            <i class="{{featureObj.Icon}}"></i> {{featureObj.TitleDictionary[currentLanguage]}}
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Hotel Features </h4>
                    <div style="width: 300px;" ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="hotelFeatures">
                        <div class="app" ng-repeat="featureObj in hotelFeatures">
                            <i class="{{featureObj.Icon}}"></i> {{featureObj.TitleDictionary[currentLanguage]}}
                        </div>
                    </div>
                </div>


                @*<div class="floatright">
                        <button type="button" ng-disabled="hotelFeatures.length==0" ng-click="logModels()">Show chosen features</button>
                        <ul class="list logList">
                            <li ng-repeat="entry in sortingLog" class="logItem">
                                {{entry}}
                            </li>
                        </ul>
                    </div>*@

                <div class="clear"></div>

                @*<div class="floatleft list logList">
                        <h4>Features list</h4>
                        <div ui-sortable="sortableOptions" class="apps-container screen floatleft top" ng-model="features">
                            <div class="itemListing" ng-repeat="app in features"> {{app.DisplayValue}}</div>
                        </div>

                    </div>
                    <div class="floatright list logList">
                        <h4>Hotel Features </h4>

                        <div ui-sortable="sortableOptions" class="apps-container screen floatright" ng-model="hotelFeatures">
                            <div class="itemListing" ng-repeat="app in hotelFeatures"> {{app.DisplayValue}}</div>
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                    <ul class="list logList">
                        <li ng-repeat="entry in sortingLog" class="logItem">
                            {{entry}}
                        </li>
                    </ul>

                    <div class="clear"></div>*@

                @*<div class="row">
                        <div class="col-xs-12">
                            <h2 style="margin-bottom: 0">Features List</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="well">
                                <label ng-repeat="featureObj in features">
                                    <input type="checkbox" ng-click="clickCheck(featureObj)" data-checklist-value="featureObj"> <i class="{{featureObj.Icon}}"></i> {{featureObj.DisplayValue}}
                                </label>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h2 style="margin-bottom: 0"> Hotel Features</h2>

                            <label ng-repeat="selectedFeatureObj in selectedFeatures.features">
                                <i class="{{selectedFeatureObj.Icon}}"></i> {{selectedFeatureObj.DisplayValue}}

                            </label>

                        </div>
                    </div>*@

                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12 pull-right">
                        <button ng-click="saveFeatures()" ng-disabled="hotelFeatures.length==0" class="btn btn-primary btn-with-icon pull-right"><i class="ion-android-checkmark-circle"></i>@Hotel.btnSaveLbl</button>
                        <button type="button" ng-click="back()" class="btn btn-default btn-with-icon pull-right"><i class="ion-stats-bars"></i>Exit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <form name="FrmAddUpdate" novalidate autocomplete="off">

        <div class="modal fade" id="ModelAddUpdate" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{action |uppercase}} @Hotel.ModalTitle</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="TxtTitle">@Hotel.Title</label><span class="red-text"> *</span>
                            <input type="text" ng-model="Hotel.DisplayValue" class="form-control" name="TxtTitle"
                                   placeholder="@Hotel.Title" required ng-pattern="/@Regex.NameAr/">

                            <div class="red-text" ng-messages="FrmAddUpdate.TxtTitle.$error" ng-show="FrmAddUpdate.TxtTitle.$touched">
                                <span class="red-text" ng-message="required">@Hotel.TxtTitleRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@Hotel.TxtTitlePatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@Hotel.TxtTitleUniqueErrorMessage</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TxtDesc">@Hotel.Desc</label><span class="red-text"> *</span>
                            <textarea ng-model="Hotel.DisplayValueDesc" class="form-control" name="TxtDesc"
                                      placeholder="Text" required ng-pattern="/@Regex.NameEn/"></textarea>
                            <div class="red-text" ng-messages="FrmAddUpdate.TxtDesc.$error" ng-show="FrmAddUpdate.TxtDesc.$touched">
                                <span class="red-text" ng-message="required">@Hotel.TxtDescRequiredErrorMessage</span>
                                <span class="red-text" ng-message="pattern">@Hotel.TxtDescPatternErrorMessage</span>
                                <span class="red-text" ng-message="notInList">@Hotel.TxtDescUniqueErrorMessage</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="uploadFiles()" ng-disabled="FrmAddUpdate.$invalid"><i class="ion-android-checkmark-circle"></i>@Hotel.btnSaveLbl</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="modal fade" id="ModelAddUpdateImage" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{action |uppercase}} @Hotel.Image</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="TxtRate">@Hotel.Image</label><span class="red-text"> *</span>

                        <div class="fileinput fileinput-Hotel" data-provides="fileinput">

                            <div class="col-lg-6 col-sm-6 col-12">

                                @*<div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse...<input type="file" multiple="" my-directory="getFiles(file)" ng-disabled="uploading" />
                                            </span>

                                        </span>
                                        <input type="text" ng-model="countFiles" required class="form-control" readonly>
                                    </div>*@
                                <div class="input-group">
                                    @*<span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse...<input type="file" multiple="" my-directory="getFiles(file)" ng-disabled="uploading" />
                                            </span>

                                        </span>*@
                                    <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />

                                </div>

                                @*<input type="button" ng-click="uploadFiles()" value="Upload" />*@

                                <!--ADD A PROGRESS BAR ELEMENT.-->
                                <p>@*<progress id="pro" value="1"></progress>*@</p>

                                @*<input type="button" class="btn btn-default  btn-primary" ng-click="uploadFiles()" value="Upload" ng-disabled="uploading || countFiles===''" />*@

                                @*<img style="width: 100px; height: 100px" src="@System.Configuration.ConfigurationManager.AppSettings["ImageUrl"]/Uploads/Hotels/{{HotelDetails.Image}}" ng-show="HotelDetails.Image" />*@

                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-with-icon" ng-disabled="!applayUploadImageBtn" ng-click="uploadFiles()"><i class="ion-android-checkmark-circle"></i>@HomeSlider.btnSaveLbl</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModelLocation" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{action |uppercase}} Location</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Location</label><span class="red-text"> *</span>
                        <div class="form-group">

                            <form name="searchForm" novalidate
                                  ng-submit="search()">
                                <div class="input-group">
                                    <input name="place" type="text" class="form-control" ng-model="searchPlace" required autofocus />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary"
                                                ng-disabled="searchForm.$invalid">
                                            Search
                                        </button>
                                    </span>
                                </div>
                            </form>


                            @*<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>*@

                            <div id="map"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>






