
@using GMG_Portal.API.Models.SystemParameters
@model  List<GMG_Portal.Data.Hotles_Offers>
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Front.Resources.Global.Offers_Index_Title</h2>
                <p>@Front.Resources.Global.Offers_Index_Desc</p>
            </div>
        </div>
    </div>
</div>

<div class="mg-rooms-cols">
    <div class="container">
        @if (Model.Count != 0) { 
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i > 0 && i % 3 == 0)
                {
                    @:</div><div class="row"> 
                }
            
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/Offers/@Model[i].Image" alt="img11" class="img-responsive">
                        <figcaption>
                           
                            @if (@Model[i].DisplayValue.Length >= 20)
                            { 
                                <h2>@Model[i].DisplayValue.Substring(0, 20)</h2> 
                            }
                            else
                            {
                                <h2>@Model[i].DisplayValue</h2> 
                            }
                            @*<div class="mg-room-rating">@Model[i].HotelTitle</div>*@
                            <div class="mg-room-price">@Model[i].Price<sup></sup></div>

                            @if (@Model[i].DisplayValueDesc.Length >= 40)
                            {
                                <p>@Model[i].DisplayValueDesc.Substring(0,40)</p>

                            }
                            else
                            {
                                <p>@Model[i].DisplayValueDesc</p> 
                            }
                            <a href="/Offers/offerdetails/@Model[i].Id" class="btn btn-link">@Front.Resources.Global.Offers_Index_Details <i class="fa fa-angle-double-right"></i></a>
                            @*<a href="#" class="btn btn-main">Book</a>*@
                        </figcaption>			
                    </figure>
                </div>


            }  
        </div>
        }
        else
        {
            <p style="    margin-left: 47%;">@Front.Resources.Global.Offers_Error</p>
        }
        
     

    </div>
</div>