
@using GMG_Portal.API.Models.SystemParameters
@model  Offer
@{
    ViewBag.Title = "OfferDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Model.DisplayValue</h2>
                @*<p>@Model.DisplayValueDesc</p>*@
            </div>
        </div>
    </div>
</div>
<div class="mg-single-room-price">
    <div class="mg-srp-inner"></div>
</div>
<div class="mg-single-room">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-gallery-container">
                    <img src=""@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/@Model.Image"/>
                    
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mg-single-room-txt">
                    <h2 class="mg-sec-left-title">@Model.DisplayValue</h2>
                    <p>@Model.DisplayValueDesc</p>
                  
                </div>
            </div>
        </div>
   

				
    </div>
</div>

