
@using Front.Helpers
@model  GMG_Portal.Data.Hotles_Offers
@{
    ViewBag.Title = "OfferDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Model.DisplayValue</h2>
                @*<p>@Model.DisplayValueDesc</p>*@
            </div>
        </div>
    </div>
</div>
<div class="mg-single-room-price">
    <div class="mg-srp-inner">
        $@Model.Price 
    </div>
</div>
<div class="mg-single-room">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-gallery-container">
                    <img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/Offers/@Model.Image" style="width: 103%;height: 362px;"/>
                    
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mg-single-room-txt">
                    <h2 class="mg-sec-left-title">@Model.DisplayValue</h2> 

                    <div class="display-field"  >


                        @Html.PreserveNewLines(@Model.DisplayValueDesc)
                    </div>
                </div>
            </div>
        </div>
   

				
    </div>
</div>

