@using Front.Helpers
@model List<GMG_Portal.Data.Hotel>


<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Front.Resources.Global.Hotel_Index_Title</h2>
                <p>@Front.Resources.Global.Hotel_Index_Desc</p>
            </div>
        </div>
    </div>
</div>

<div class="mg-page mg-available-rooms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (var hotel in Model)
            {
                    <div class="mg-avl-room">
                        <div class="row">
                            <div class="col-sm-5">
                                <a href="/Hotel/Details/@hotel.Id"><img src="@System.Configuration.ConfigurationManager.AppSettings["Serverbackend"]/Uploads/Hotels/@hotel.Image" alt="" style="height: 350px; width: 475px;" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <h3 class="mg-avl-room-title">
                                    <a href="/Hotel/Details/@hotel.Id">@hotel.DisplayValue</a> <span><sub>@hotel.CurrencyTitle</sub>@hotel.PriceStart/@Front.Resources.Global.Hotel_Night</span>
                                </h3>
                                
                                @if (@hotel.DisplayValueDesc.Length >= 110)
                                { 
                                    <div class="display-field"  >
                                        @Html.PreserveNewLines(@hotel.DisplayValueDesc.ToString().Substring(0, 110))
                                    </div>
                                }
                                else
                                {
                                    <div class="display-field" >
                                        @Html.PreserveNewLines(@hotel.DisplayValueDesc)
                                    </div>
                                }
                                
                             
                                <div class="row mg-room-fecilities">
                                    @for (int i = 0; i < hotel.FeaturesList.Count; i++)
                                    {
                                       

                                        <div class="col-xs-6">
                                            <ul>
                                                <li><i class="@hotel.FeaturesList[i].Icon"></i> @hotel.FeaturesList[i].DisplayValue</li>
                                            </ul>
                                        </div>
                                    } 
                                </div>
                                <a href="/Hotel/Details/@hotel.Id" class="btn btn-dark ">@Front.Resources.Global.Hotel_Index_Button_Details <i class="fa fa-angle-double-right"></i></a>
                                @*<a href="#" class="btn btn-main pull-right">Book Now</a>*@

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


